In [54]:
import datetime

In [8]:
# %load ../src/weather_data_clean.py
import pandas as pd

def clean_weather_data(filename):
    """Take ASOS weather data file for Stampede pass and clean it ready for input to model.
    Input: txt file
    Output: pandas dataframe
    """
    data = pd.read_csv(filename)

    # Rename two of the columns
    data.rename(columns={'valid':'date', 'tmpf':'temp'}, inplace=True)

    # Remove the few rows that have a null value for temp
    data = data[~data.temp.eq('M')]

    # Remove spaces from column names
    data.rename(columns=lambda x: x.replace(' ', ''), inplace=True)

    # Only use the standard hourly weather reading at 56 mins past each hour
    mask = data['date'].apply(lambda x: x[-2:] == '56')
    data = data[mask]

    # Create a date series to be used in the clean dataframe
    date = pd.to_datetime(data['date'])

    # Create a temp series to be used in the clean dataframe
    temp = data['temp'].apply(float)

    # Cast the null value M to zero to enable create of the raw precipitation series cast to floats
    data.p01i[data.p01i == 'M'] = 0
    raw_precipitation = data['p01i'].apply(float)

    # Create a precipitation series to be used in the clean dataframe
    precipitation = raw_precipitation.apply(lambda x: True if (x > 0) else False)

    # Convert sky coverage data to clear or cloudy and create an overcast series to be used in the clean dataframe
    sky_elements = ['skyc1', 'skyc2', 'skyc3']
    data.skyc1 = data.skyc1.astype(str)
    data.skyc2 = data.skyc2.astype(str)
    data.skyc3 = data.skyc3.astype(str)
    sky_agg = data[sky_elements].values.tolist()
    sky_reduce = [['overcast' if (('BKN' in element) or ('OVC' in element) or ('VV' in element)) else 'clear'
                    for element in row] for row in sky_agg]
    overcast = pd.Series([True if 'overcast' in row else False for row in sky_reduce])
    overcast.index = date.index

    # Cast the null value 'M' to 10.00 to enable the creation of a poor visibility series
    data.vsby[data.vsby == 'M'] = 10.00
    raw_visibility = data['vsby'].apply(float)
    poor_visibility = pd.Series([True if value < 0.50 else False for value in raw_visibility])
    poor_visibility.index = date.index

    # Cast the null value 'M' to 0 to enable the creation of a windy series
    data.sknt[data.sknt == 'M'] = 0.00
    data.gust[data.gust == 'M'] = 0.00
    wind_speed = data['sknt'].apply(float)
    gust_speed = data['gust'].apply(float)
    wind_df = pd.concat([wind_speed, gust_speed], axis=1)
    # Finally apply the function f to enable the creation of the windy column
    windy = wind_df.apply(f, axis=1)

    """Create the cleaned dataframe by concatenating the date, temp, precipitation, overcast, poor_visibility
    and windy series"""
    df = pd.concat([date, temp, precipitation, overcast, poor_visibility, windy], axis=1)
    df.columns = ['date', 'temp', 'precipitation', 'overcast', 'poor_visibility', 'windy']
    cleaned_df = df[(df['date'] > '2006-12-31') & (df['date'] < '2018-04-03')]
    return cleaned_df

def f(row):
    """Function to be able to create the windy series with windy being true if wind speed is above 10 knots
    or gust speed is above 20 knots"""
    if row['sknt'] >= 10.00:
        val = True
    elif row['gust'] >= 20.00:
        val = True
    else:
        val = False
    return val

In [49]:
weather_df = clean_weather_data('ASOS_stampede_pass/SMP-2.txt')

/Users/leanne/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [50]:
weather_df

,date,temp,precipitation,overcast,poor_visibility,windy
0,2006-12-31 23:56:00,23.00,False,True,False,False
1,2007-01-01 00:56:00,26.06,False,False,False,False
2,2007-01-01 01:56:00,24.98,False,False,False,False
3,2007-01-01 02:56:00,24.08,False,False,False,False
4,2007-01-01 03:56:00,24.08,False,False,False,False
5,2007-01-01 05:56:00,19.94,False,True,True,False
6,2007-01-01 10:56:00,19.94,True,True,False,False
7,2007-01-01 11:56:00,19.04,True,True,False,False
8,2007-01-01 12:56:00,19.94,True,True,False,False
9,2007-01-01 13:56:00,21.02,True,True,False,False
10,2007-01-01 15:56:00,28.94,True,True,False,False
11,2007-01-01 16:56:00,32.00,True,True,False,False
12,2007-01-01 19:56:00,35.06,True,True,True,False
13,2007-01-01 20:56:00,32.00,False,True,False,False
14,2007-01-01 21:56:00,41.00,False,True,False,False
15,2007-01-01 22:56:00,42.98,True,True,False,True
16,2007-01-01 23:56:00,41.00,True,True,False,False
17,2007-01-02 00:56:00,39.92,True,True,False,False
18,2007-01-02 01:56:00,39.92,True,True,False,False
19,2007-01-02 02:56:00,42.98,True,True,False,False
20,2007-01-02 03:56:00,42.98,True,True,False,False
21,2007-01-02 04:56:00,44.96,True,True,False,False
22,2007-01-02 05:56:00,46.94,True,True,False,False
23,2007-01-02 06:56:00,48.02,False,False,False,True
24,2007-01-02 07:56:00,46.94,False,True,False,True
25,2007-01-02 08:56:00,46.04,False,True,False,False
26,2007-01-02 09:56:00,46.94,False,True,False,False
27,2007-01-02 10:56:00,48.92,False,True,False,False
28,2007-01-02 11:56:00,46.04,True,True,False,False
29,2007-01-02 12:56:00,42.98,True,True,False,True
...,...,...,...,...,...,...
105403,2018-04-01 17:56:00,28.00,True,True,False,True
105411,2018-04-01 18:56:00,26.10,False,True,False,True
105418,2018-04-01 19:56:00,26.10,True,True,False,False
105426,2018-04-01 20:56:00,25.00,True,True,False,True
105434,2018-04-01 21:56:00,25.00,True,True,False,False
105440,2018-04-01 22:56:00,24.10,True,True,False,True
105447,2018-04-01 23:56:00,24.10,True,True,False,False
105452,2018-04-02 00:56:00,23.00,True,True,False,True
105460,2018-04-02 01:56:00,23.00,True,True,False,False
105464,2018-04-02 02:56:00,23.00,True,True,False,False
105485,2018-04-02 04:56:00,23.00,True,True,False,False
105495,2018-04-02 05:56:00,23.00,True,True,False,False
105503,2018-04-02 06:56:00,24.10,True,True,False,False
105507,2018-04-02 07:56:00,24.10,True,True,False,False
105512,2018-04-02 08:56:00,25.00,True,True,False,False
105520,2018-04-02 09:56:00,26.10,True,True,False,False
105526,2018-04-02 10:56:00,26.10,False,True,False,False
105527,2018-04-02 11:56:00,28.00,False,True,False,False
105529,2018-04-02 12:56:00,28.90,False,True,False,False
105532,2018-04-02 13:56:00,28.90,False,True,False,False
105536,2018-04-02 14:56:00,32.00,False,True,False,False
105540,2018-04-02 15:56:00,30.00,True,True,False,False
105544,2018-04-02 16:56:00,32.00,False,True,False,False
105551,2018-04-02 17:56:00,28.90,False,True,False,False
105559,2018-04-02 18:56:00,28.90,True,True,False,True
105569,2018-04-02 19:56:00,28.90,True,True,False,False
105573,2018-04-02 20:56:00,28.00,True,True,False,False
105579,2018-04-02 21:56:00,27.00,False,True,False,False
105581,2018-04-02 22:56:00,26.10,False,True,False,False
105582,2018-04-02 23:56:00,26.10,False,True,False,False

In [18]:
# %load ../src/pass_data_clean.py
import pandas as pd

def clean_pass_data(filename):
    """Take Snoqualmie pass closure data file and clean it ready for input to model.
    Input: xlsx file
    Output: Pandas dataframe
    """
    data = pd.read_excel(filename, header=[1])

    #drop unnamed/unnecessary columns
    data.drop(data.columns[[11,12,13,14]], axis=1, inplace=True)

    #drop unnecessary secondary incident columns
    data.drop(data.columns[[1,8]], axis=1, inplace=True)

    #rename 'Incident...' columns to start_time and end_time 
    data.rename(columns={'INCIDENT START TIMES FOR EACH DIRECTION':'start_time'}, inplace=True)
    data.rename(columns={'INCIDENT END TIMES - DIRECTIONAL':'end_time'}, inplace=True)

    #use only dates from 2007-01-01 to match with available weather and traffic volume data
    df = data[(data['start_time'] > '2006-12-31')]

    #rename 'Delay Time Total' to delay
    df.rename(columns={'Delay Time Total':'delay'}, inplace=True)

    #drop row with nan value in delay
    df = df.dropna(subset=['delay'])

    #create a westbound pandas series with True if westbound and false if eastbound
    westbound = pd.Series([True if value == 'WB' else False for value in df.DIRECTION])

    #create a snow pandas series with True if weather description contains sn, false otherwise
    snow = df.WEATHER.str.contains('sn', case=False, na=False, regex=True)

    #create pandas series for start and end times
    start_time = pd.to_datetime(df['start_time'])
    end_time = pd.to_datetime(df['end_time'])

    #ensure that all the pandas series created have the same index
    westbound.index = start_time.index
    snow.index = start_time.index
    end_time.index = start_time.index

    #create cleaned df with the series created
    cleaned_df = pd.concat([start_time, end_time, westbound, snow], axis=1)

    #rename columns
    cleaned_df.rename(columns={0:'westbound', 'WEATHER':'snow'}, inplace=True)

    return cleaned_df

In [19]:
pass_closure_df = clean_pass_data('Cumulative_Snoqualmie_Pass_Delay_Closures_1992_2018.xlsx')

/Users/leanne/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [20]:
pass_closure_df

              start_time            end_time  westbound   snow
830  2007-01-02 14:31:00 2007-01-02 16:45:00      False  False
831  2007-01-02 15:00:00 2007-01-02 15:44:00       True  False
832  2007-01-02 19:23:00 2007-01-02 19:33:00       True  False
833  2007-01-03 11:28:00 2007-01-03 11:40:00       True   True
834  2007-01-03 11:29:00 2007-01-03 11:46:00      False   True
835  2007-01-05 00:01:00 2007-01-05 00:16:00      False   True
836  2007-01-05 00:02:00 2007-01-05 00:11:00       True   True
837  2007-01-05 19:29:00 2007-01-05 19:51:00      False   True
838  2007-01-05 19:29:00 2007-01-05 19:44:00       True   True
839  2007-01-06 00:26:00 2007-01-06 00:46:00      False   True
840  2007-01-06 00:25:00 2007-01-06 00:41:00       True   True
841  2007-01-06 03:42:00 2007-01-06 04:55:00      False   True
842  2007-01-06 03:43:00 2007-01-06 04:21:00       True   True
843  2007-01-07 08:46:00 2007-01-07 10:46:00      False   True
846  2007-01-07 12:05:00 2007-01-07 14:17:00      False   True
847  2007-01-07 12:10:00 2007-01-07 14:17:00       True   True
848  2007-01-07 13:23:00 2007-01-07 14:17:00      False   True
851  2007-01-07 17:12:00 2007-01-07 17:38:00       True   True
852  2007-01-07 20:02:00 2007-01-07 22:17:00      False  False
853  2007-01-16 10:12:00 2007-01-16 13:41:00       True   True
861  2007-01-18 20:27:00 2007-01-18 20:43:00      False   True
862  2007-01-18 20:29:00 2007-01-18 21:04:00       True   True
863  2007-01-20 14:00:00 2007-01-20 14:18:00      False   True
864  2007-01-20 14:00:00 2007-01-20 14:18:00       True   True
865  2007-01-26 15:02:00 2007-01-26 15:19:00      False  False
866  2007-01-31 10:17:00 2007-01-31 15:34:00      False  False
869  2007-02-05 22:33:00 2007-02-05 22:46:00       True  False
870  2007-02-05 22:28:00 2007-02-05 22:53:00      False  False
872  2007-02-20 08:15:00 2007-02-20 08:53:00       True  False
873  2007-02-20 08:17:00 2007-02-20 08:59:00      False  False
...                  ...                 ...        ...    ...
1602 2017-11-03 17:23:00 2017-11-03 21:37:00       True   True
1603 2017-11-05 11:12:00 2017-11-05 14:45:00       True   True
1604 2017-11-05 11:29:00 2017-11-05 14:31:00      False   True
1605 2017-11-19 20:05:00 2017-11-19 22:32:00       True   True
1606 2017-12-19 07:56:00 2017-12-19 10:03:00      False   True
1607 2017-12-19 10:50:00 2017-12-19 12:25:00      False   True
1608 2018-01-11 06:58:00 2018-01-11 08:18:00      False   True
1609 2018-01-11 10:19:00 2018-01-11 11:39:00      False   True
1610 2018-01-11 12:44:00 2018-01-11 19:50:00      False   True
1611 2018-01-23 17:54:00 2018-01-23 20:02:00      False   True
1612 2018-01-26 10:33:00 2018-01-26 12:39:00      False   True
1613 2018-01-26 11:10:00 2018-01-26 12:50:00       True   True
1614 2018-01-27 04:30:00 2018-01-27 05:15:00      False   True
1615 2018-01-27 20:54:00 2018-01-27 21:45:00      False  False
1616 2018-02-02 02:00:00 2018-02-02 02:30:00      False  False
1617 2018-02-02 02:10:00 2018-02-02 02:34:00       True  False
1618 2018-02-16 06:28:00 2018-02-16 08:40:00      False   True
1619 2018-02-17 09:17:00 2018-02-17 09:55:00      False   True
1620 2018-02-17 12:03:00 2018-02-17 12:34:00       True   True
1621 2018-02-18 18:43:00 2018-02-18 20:13:00      False   True
1622 2018-03-04 11:27:00 2018-03-04 13:45:00       True   True
1623 2018-03-04 12:13:00 2018-03-04 13:45:00       True   True
1624 2018-03-04 11:36:00 2018-03-04 13:49:00      False   True
1625 2018-03-04 18:02:00 2018-03-05 00:00:00      False   True
1626 2018-03-04 18:21:00 2018-03-05 00:00:00       True   True
1627 2018-03-04 20:31:00 2018-03-05 00:00:00      False   True
1628 2018-03-29 09:02:00 2018-03-29 09:39:00      False  False
1629 2018-03-29 09:02:00 2018-03-29 09:42:00       True  False
1630 2018-04-01 22:29:00 2018-04-02 07:41:00       True   True
1631 2018-04-01 23:09:00 2018-04-02 07:58:00      False   True

[775 rows x 4 columns]

In [44]:
start_end_times = list(zip(pass_closure_df.start_time, pass_closure_df.end_time))

In [45]:
start_end_times

[(Timestamp('2007-01-02 14:31:00'), Timestamp('2007-01-02 16:45:00')),
 (Timestamp('2007-01-02 15:00:00'), Timestamp('2007-01-02 15:44:00')),
 (Timestamp('2007-01-02 19:23:00'), Timestamp('2007-01-02 19:33:00')),
 (Timestamp('2007-01-03 11:28:00'), Timestamp('2007-01-03 11:40:00')),
 (Timestamp('2007-01-03 11:29:00'), Timestamp('2007-01-03 11:46:00')),
 (Timestamp('2007-01-05 00:01:00'), Timestamp('2007-01-05 00:16:00')),
 (Timestamp('2007-01-05 00:02:00'), Timestamp('2007-01-05 00:11:00')),
 (Timestamp('2007-01-05 19:29:00'), Timestamp('2007-01-05 19:51:00')),
 (Timestamp('2007-01-05 19:29:00'), Timestamp('2007-01-05 19:44:00')),
 (Timestamp('2007-01-06 00:26:00'), Timestamp('2007-01-06 00:46:00')),
 (Timestamp('2007-01-06 00:25:00'), Timestamp('2007-01-06 00:41:00')),
 (Timestamp('2007-01-06 03:42:00'), Timestamp('2007-01-06 04:55:00')),
 (Timestamp('2007-01-06 03:43:00'), Timestamp('2007-01-06 04:21:00')),
 (Timestamp('2007-01-07 08:46:00'), Timestamp('2007-01-07 10:46:00')),
 (Timestamp('2007-01-07 12:05:00'), Timestamp('2007-01-07 14:17:00')),
 (Timestamp('2007-01-07 12:10:00'), Timestamp('2007-01-07 14:17:00')),
 (Timestamp('2007-01-07 13:23:00'), Timestamp('2007-01-07 14:17:00')),
 (Timestamp('2007-01-07 17:12:00'), Timestamp('2007-01-07 17:38:00')),
 (Timestamp('2007-01-07 20:02:00'), Timestamp('2007-01-07 22:17:00')),
 (Timestamp('2007-01-16 10:12:00'), Timestamp('2007-01-16 13:41:00')),
 (Timestamp('2007-01-18 20:27:00'), Timestamp('2007-01-18 20:43:00')),
 (Timestamp('2007-01-18 20:29:00'), Timestamp('2007-01-18 21:04:00')),
 (Timestamp('2007-01-20 14:00:00'), Timestamp('2007-01-20 14:18:00')),
 (Timestamp('2007-01-20 14:00:00'), Timestamp('2007-01-20 14:18:00')),
 (Timestamp('2007-01-26 15:02:00'), Timestamp('2007-01-26 15:19:00')),
 (Timestamp('2007-01-31 10:17:00'), Timestamp('2007-01-31 15:34:00')),
 (Timestamp('2007-02-05 22:33:00'), Timestamp('2007-02-05 22:46:00')),
 (Timestamp('2007-02-05 22:28:00'), Timestamp('2007-02-05 22:53:00')),
 (Timestamp('2007-02-20 08:15:00'), Timestamp('2007-02-20 08:53:00')),
 (Timestamp('2007-02-20 08:17:00'), Timestamp('2007-02-20 08:59:00')),
 (Timestamp('2007-02-20 13:02:00'), Timestamp('2007-02-20 14:20:00')),
 (Timestamp('2007-02-20 17:40:00'), Timestamp('2007-02-20 20:25:00')),
 (Timestamp('2007-02-21 14:37:00'), Timestamp('2007-02-21 14:44:00')),
 (Timestamp('2007-02-21 14:37:00'), Timestamp('2007-02-21 14:49:00')),
 (Timestamp('2007-02-24 15:46:00'), Timestamp('2007-02-24 16:01:00')),
 (Timestamp('2007-02-24 15:46:00'), Timestamp('2007-02-24 16:15:00')),
 (Timestamp('2007-02-28 15:13:00'), Timestamp('2007-02-28 21:57:00')),
 (Timestamp('2007-02-28 16:35:00'), Timestamp('2007-02-28 20:42:00')),
 (Timestamp('2007-03-01 00:30:00'), Timestamp('2007-03-01 00:44:00')),
 (Timestamp('2007-03-01 00:30:00'), Timestamp('2007-03-01 00:53:00')),
 (Timestamp('2007-03-01 02:39:00'), Timestamp('2007-03-01 03:06:00')),
 (Timestamp('2007-03-02 13:45:00'), Timestamp('2007-03-02 14:04:00')),
 (Timestamp('2007-03-02 22:00:00'), Timestamp('2007-03-02 22:16:00')),
 (Timestamp('2007-03-02 22:00:00'), Timestamp('2007-03-02 22:23:00')),
 (Timestamp('2007-03-09 07:50:00'), Timestamp('2007-03-09 08:00:00')),
 (Timestamp('2007-03-10 21:58:00'), Timestamp('2007-03-10 22:04:00')),
 (Timestamp('2007-03-31 02:05:00'), Timestamp('2007-03-31 03:59:00')),
 (Timestamp('2007-11-01 08:07:00'), Timestamp('2007-11-01 13:00:00')),
 (Timestamp('2007-11-02 08:20:00'), Timestamp('2007-11-02 09:03:00')),
 (Timestamp('2007-11-03 08:01:00'), Timestamp('2007-11-03 11:54:00')),
 (Timestamp('2007-11-05 10:39:00'), Timestamp('2007-11-05 15:26:00')),
 (Timestamp('2007-11-06 08:02:00'), Timestamp('2007-11-06 10:39:00')),
 (Timestamp('2007-11-07 11:36:00'), Timestamp('2007-11-07 17:26:00')),
 (Timestamp('2007-11-08 09:59:00'), Timestamp('2007-11-08 16:27:00')),
 (Timestamp('2007-11-09 07:29:00'), Timestamp('2007-11-09 08:49:00')),
 (Timestamp('2007-11-16 15:40:00'), Timestamp('2007-11-16 16:02:00')),
 (Timestamp('2007-11-26 18:30:00'), Timestamp('2007-11-26 20:00:00')),
 (Timestamp('2007-12-02 11:10:00'), Timestamp('2007-12-02 12:35:00')),
 (Timestamp('2007-12-02 11:10:00'), Timestamp('2007-12-02 12:16:00')),
 (Timestamp('2007-12-02 15:40:00'), Timestamp('2007-12-02 16:05:00')),
 (Timestamp('2007-12-03 02:59:00'), Timestamp('2007-12-03 04:03:00')),
 (Timestamp('2007-12-03 03:00:00'), Timestamp('2007-12-03 03:57:00')),
 (Timestamp('2007-12-03 10:43:00'), Timestamp('2007-12-03 14:30:00')),
 (Timestamp('2007-12-15 21:00:00'), Timestamp('2007-12-15 21:25:00')),
 (Timestamp('2007-12-15 21:00:00'), Timestamp('2007-12-15 21:25:00')),
 (Timestamp('2007-12-17 13:35:00'), Timestamp('2007-12-17 13:50:00')),
 (Timestamp('2007-12-18 14:30:00'), Timestamp('2007-12-18 14:45:00')),
 (Timestamp('2007-12-18 14:30:00'), Timestamp('2007-12-18 14:45:00')),
 (Timestamp('2007-12-19 11:20:00'), Timestamp('2007-12-19 12:20:00')),
 (Timestamp('2007-12-19 22:15:00'), Timestamp('2007-12-19 22:35:00')),
 (Timestamp('2007-12-19 22:15:00'), Timestamp('2007-12-19 22:35:00')),
 (Timestamp('2007-12-20 15:27:00'), Timestamp('2007-12-20 16:28:00')),
 (Timestamp('2007-12-20 16:30:00'), Timestamp('2007-12-20 19:30:00')),
 (Timestamp('2007-12-22 12:20:00'), Timestamp('2007-12-22 16:45:00')),
 (Timestamp('2007-12-22 19:30:00'), Timestamp('2007-12-22 19:55:00')),
 (Timestamp('2007-12-22 22:30:00'), Timestamp('2007-12-22 22:50:00')),
 (Timestamp('2007-12-22 22:30:00'), Timestamp('2007-12-22 22:50:00')),
 (Timestamp('2007-12-24 12:35:00'), Timestamp('2007-12-24 12:55:00')),
 (Timestamp('2007-12-24 12:35:00'), Timestamp('2007-12-24 12:55:00')),
 (Timestamp('2007-12-25 16:45:00'), Timestamp('2007-12-25 18:00:00')),
 (Timestamp('2007-12-25 20:45:00'), Timestamp('2007-12-25 21:25:00')),
 (Timestamp('2007-12-25 20:45:00'), Timestamp('2007-12-25 21:25:00')),
 (Timestamp('2007-12-25 23:05:00'), Timestamp('2007-12-25 23:50:00')),
 (Timestamp('2007-12-26 14:15:00'), Timestamp('2007-12-26 16:00:00')),
 (Timestamp('2007-12-26 19:45:00'), Timestamp('2007-12-26 20:25:00')),
 (Timestamp('2007-12-26 19:45:00'), Timestamp('2007-12-26 20:25:00')),
 (Timestamp('2007-12-28 03:55:00'), Timestamp('2007-12-28 04:25:00')),
 (Timestamp('2007-12-28 03:55:00'), Timestamp('2007-12-28 04:25:00')),
 (Timestamp('2007-12-28 07:30:00'), Timestamp('2007-12-28 08:20:00')),
 (Timestamp('2007-12-28 21:25:00'), Timestamp('2007-12-28 22:35:00')),
 (Timestamp('2007-12-28 21:25:00'), Timestamp('2007-12-28 22:35:00')),
 (Timestamp('2007-12-30 00:00:00'), Timestamp('2007-12-30 00:41:00')),
 (Timestamp('2007-12-30 00:00:00'), Timestamp('2007-12-30 00:41:00')),
 (Timestamp('2007-12-30 03:00:00'), Timestamp('2007-12-30 03:40:00')),
 (Timestamp('2007-12-30 14:15:00'), Timestamp('2007-12-30 15:00:00')),
 (Timestamp('2007-12-30 14:15:00'), Timestamp('2007-12-30 15:00:00')),
 (Timestamp('2007-12-31 10:03:00'), Timestamp('2007-12-31 10:43:00')),
 (Timestamp('2008-01-03 21:57:00'), Timestamp('2008-01-03 22:29:00')),
 (Timestamp('2008-01-03 21:57:00'), Timestamp('2008-01-03 22:09:00')),
 (Timestamp('2008-01-08 05:00:00'), Timestamp('2008-01-08 05:26:00')),
 (Timestamp('2008-01-08 05:02:00'), Timestamp('2008-01-08 05:13:00')),
 (Timestamp('2008-01-08 05:54:00'), Timestamp('2008-01-08 07:43:00')),
 (Timestamp('2008-01-08 13:59:00'), Timestamp('2008-01-08 14:26:00')),
 (Timestamp('2008-01-09 00:59:00'), Timestamp('2008-01-09 01:45:00')),
 (Timestamp('2008-01-09 00:59:00'), Timestamp('2008-01-09 01:48:00')),
 (Timestamp('2008-01-10 04:27:00'), Timestamp('2008-01-10 06:01:00')),
 (Timestamp('2008-01-10 04:29:00'), Timestamp('2008-01-10 05:39:00')),
 (Timestamp('2008-01-10 08:08:00'), Timestamp('2008-01-10 09:53:00')),
 (Timestamp('2008-01-10 10:38:00'), Timestamp('2008-01-10 11:08:00')),
 (Timestamp('2008-01-10 11:18:00'), Timestamp('2008-01-10 11:55:00')),
 (Timestamp('2008-01-10 11:33:00'), Timestamp('2008-01-10 15:09:00')),
 (Timestamp('2008-01-10 14:01:00'), Timestamp('2008-01-10 15:09:00')),
 (Timestamp('2008-01-12 13:28:00'), Timestamp('2008-01-12 13:45:00')),
 (Timestamp('2008-01-12 13:28:00'), Timestamp('2008-01-12 13:48:00')),
 (Timestamp('2008-01-14 17:06:00'), Timestamp('2008-01-14 18:54:00')),
 (Timestamp('2008-01-14 22:55:00'), Timestamp('2008-01-14 23:19:00')),
 (Timestamp('2008-01-14 22:59:00'), Timestamp('2008-01-14 23:20:00')),
 (Timestamp('2008-01-15 01:07:00'), Timestamp('2008-01-15 02:04:00')),
 (Timestamp('2008-01-19 21:58:00'), Timestamp('2008-01-19 22:16:00')),
 (Timestamp('2008-01-19 22:01:00'), Timestamp('2008-01-19 22:17:00')),
 (Timestamp('2008-01-26 17:27:00'), Timestamp('2008-01-26 17:51:00')),
 (Timestamp('2008-01-26 17:27:00'), Timestamp('2008-01-26 18:51:00')),
 (Timestamp('2008-01-28 22:33:00'), Timestamp('2008-01-28 22:45:00')),
 (Timestamp('2008-01-28 22:33:00'), Timestamp('2008-01-28 22:55:00')),
 (Timestamp('2008-01-29 04:14:00'), Timestamp('2008-01-29 05:11:00')),
 (Timestamp('2008-01-29 07:24:00'), Timestamp('2008-01-30 11:00:00')),
 (Timestamp('2008-01-29 07:24:00'), Timestamp('2008-01-30 11:00:00')),
 (Timestamp('2008-01-30 14:39:00'), Timestamp('2008-02-02 04:02:00')),
 (Timestamp('2008-01-30 16:16:00'), Timestamp('2008-02-02 04:02:00')),
 (Timestamp('2008-02-02 19:59:00'), Timestamp('2008-02-02 20:38:00')),
 (Timestamp('2008-02-02 20:00:00'), Timestamp('2008-02-02 20:45:00')),
 (Timestamp('2008-02-03 10:39:00'), Timestamp('2008-02-03 15:41:00')),
 (Timestamp('2008-02-03 10:46:00'), Timestamp('2008-02-03 15:20:00')),
 (Timestamp('2008-02-05 09:39:00'), Timestamp('2008-02-05 10:00:00')),
 (Timestamp('2008-02-05 09:38:00'), Timestamp('2008-02-05 10:19:00')),
 (Timestamp('2008-02-05 12:44:00'), Timestamp('2008-02-05 14:38:00')),
 (Timestamp('2008-02-05 13:33:00'), Timestamp('2008-02-05 15:27:00')),
 (Timestamp('2008-02-05 19:32:00'), Timestamp('2008-02-05 19:46:00')),
 (Timestamp('2008-02-05 19:28:00'), Timestamp('2008-02-05 19:59:00')),
 (Timestamp('2008-02-06 22:30:00'), Timestamp('2008-02-07 06:50:00')),
 (Timestamp('2008-02-06 22:30:00'), Timestamp('2008-02-07 07:42:00')),
 (Timestamp('2008-02-07 10:45:00'), Timestamp('2008-02-07 11:51:00')),
 (Timestamp('2008-02-07 10:45:00'), Timestamp('2008-02-07 11:51:00')),
 (Timestamp('2008-02-07 12:16:00'), Timestamp('2008-02-07 13:01:00')),
 (Timestamp('2008-02-07 12:17:00'), Timestamp('2008-02-07 12:58:00')),
 (Timestamp('2008-02-08 10:58:00'), Timestamp('2008-02-10 00:15:00')),
 (Timestamp('2008-02-08 11:33:00'), Timestamp('2008-02-10 00:15:00')),
 (Timestamp('2008-02-11 13:15:00'), Timestamp('2008-02-11 18:16:00')),
 (Timestamp('2008-02-11 23:24:00'), Timestamp('2008-02-12 00:13:00')),
 (Timestamp('2008-02-11 23:24:00'), Timestamp('2008-02-12 00:17:00')),
 (Timestamp('2008-02-12 00:54:00'), Timestamp('2008-02-12 01:57:00')),
 (Timestamp('2008-02-12 01:02:00'), Timestamp('2008-02-12 01:57:00')),
 (Timestamp('2008-02-12 02:26:00'), Timestamp('2008-02-12 03:04:00')),
 (Timestamp('2008-02-12 02:31:00'), Timestamp('2008-02-12 03:15:00')),
 (Timestamp('2008-02-12 03:34:00'), Timestamp('2008-02-12 04:15:00')),
 (Timestamp('2008-02-12 03:37:00'), Timestamp('2008-02-12 04:07:00')),
 (Timestamp('2008-02-13 04:00:00'), Timestamp('2008-02-13 04:15:00')),
 (Timestamp('2008-02-13 04:00:00'), Timestamp('2008-02-13 04:21:00')),
 (Timestamp('2008-02-15 23:32:00'), Timestamp('2008-02-16 00:05:00')),
 (Timestamp('2008-02-16 00:33:00'), Timestamp('2008-02-16 01:13:00')),
 (Timestamp('2008-02-16 01:45:00'), Timestamp('2008-02-16 02:04:00')),
 (Timestamp('2008-02-16 03:05:00'), Timestamp('2008-02-16 03:35:00')),
 (Timestamp('2008-02-16 23:31:00'), Timestamp('2008-02-17 00:08:00')),
 (Timestamp('2008-02-17 00:30:00'), Timestamp('2008-02-17 01:03:00')),
 (Timestamp('2008-02-17 01:26:00'), Timestamp('2008-02-17 02:01:00')),
 (Timestamp('2008-02-17 04:43:00'), Timestamp('2008-02-17 05:36:00')),
 (Timestamp('2008-02-17 04:43:00'), Timestamp('2008-02-17 05:34:00')),
 (Timestamp('2008-02-17 08:25:00'), Timestamp('2008-02-17 08:53:00')),
 (Timestamp('2008-03-03 17:56:00'), Timestamp('2008-03-03 18:11:00')),
 (Timestamp('2008-03-03 18:35:00'), Timestamp('2008-03-03 20:10:00')),
 (Timestamp('2008-03-04 04:00:00'), Timestamp('2008-03-04 04:12:00')),
 (Timestamp('2008-03-04 04:00:00'), Timestamp('2008-03-04 04:17:00')),
 (Timestamp('2008-03-04 12:00:00'), Timestamp('2008-03-04 12:41:00')),
 (Timestamp('2008-03-22 13:33:00'), Timestamp('2008-03-22 15:50:00')),
 (Timestamp('2008-03-28 14:57:00'), Timestamp('2008-03-28 17:36:00')),
 (Timestamp('2008-03-28 18:46:00'), Timestamp('2008-03-28 19:36:00')),
 (Timestamp('2008-03-30 10:03:00'), Timestamp('2008-03-30 10:21:00')),
 (Timestamp('2008-03-30 10:03:00'), Timestamp('2008-03-30 10:21:00')),
 (Timestamp('2008-03-30 13:17:00'), Timestamp('2008-03-30 13:33:00')),
 (Timestamp('2008-03-31 21:37:00'), Timestamp('2008-03-31 23:39:00')),
 (Timestamp('2008-04-06 11:37:00'), Timestamp('2008-04-06 13:30:00')),
 (Timestamp('2008-04-10 15:32:00'), Timestamp('2008-04-10 17:08:00')),
 (Timestamp('2008-04-11 11:45:00'), Timestamp('2008-04-11 14:09:00')),
 (Timestamp('2008-04-11 15:04:00'), Timestamp('2008-04-11 15:49:00')),
 (Timestamp('2008-04-14 19:15:00'), Timestamp('2008-04-14 19:45:00')),
 (Timestamp('2008-04-18 17:14:00'), Timestamp('2008-04-18 18:09:00')),
 (Timestamp('2008-04-23 13:00:00'), Timestamp('2008-04-23 13:55:00')),
 (Timestamp('2008-04-26 12:00:00'), Timestamp('2008-04-26 13:20:00')),
 (Timestamp('2008-04-30 11:15:00'), NaT),
 (Timestamp('2008-12-12 12:50:00'), Timestamp('2008-12-12 14:38:00')),
 (Timestamp('2008-12-18 21:00:00'), Timestamp('2008-12-18 21:41:00')),
 (Timestamp('2008-12-18 21:00:00'), Timestamp('2008-12-18 21:41:00')),
 (Timestamp('2008-12-20 22:06:00'), Timestamp('2008-12-21 11:30:00')),
 (Timestamp('2008-12-15 17:05:00'), Timestamp('2008-12-15 17:53:00')),
 (Timestamp('2008-12-16 10:43:00'), Timestamp('2008-12-16 11:38:00')),
 (Timestamp('2008-12-16 21:25:00'), Timestamp('2008-12-16 21:40:00')),
 (Timestamp('2008-12-16 21:25:00'), Timestamp('2008-12-16 21:40:00')),
 (Timestamp('2008-12-17 00:35:00'), Timestamp('2008-12-17 00:47:00')),
 (Timestamp('2008-12-28 03:55:00'), Timestamp('2008-12-28 04:20:00')),
 (Timestamp('2008-12-28 13:12:00'), Timestamp('2008-12-28 14:58:00')),
 (Timestamp('2008-12-31 10:50:00'), Timestamp('2008-12-31 11:45:00')),
 (Timestamp('2008-12-31 14:15:00'), Timestamp('2008-12-31 15:25:00')),
 (Timestamp('2008-12-31 14:15:00'), Timestamp('2008-12-31 15:05:00')),
 (Timestamp('2008-12-31 22:00:00'), Timestamp('2008-12-31 23:13:00')),
 (Timestamp('2009-01-01 02:45:00'), Timestamp('2009-01-01 03:45:00')),
 (Timestamp('2009-01-01 02:45:00'), Timestamp('2009-01-01 03:45:00')),
 (Timestamp('2009-01-01 06:30:00'), Timestamp('2009-01-01 20:25:00')),
 (Timestamp('2009-01-01 06:30:00'), Timestamp('2009-01-01 20:25:00')),
 (Timestamp('2009-01-03 20:50:00'), Timestamp('2009-01-03 21:36:00')),
 (Timestamp('2009-01-03 20:50:00'), Timestamp('2009-01-03 21:21:00')),
 (Timestamp('2009-01-04 23:05:00'), Timestamp('2009-01-05 20:15:00')),
 (Timestamp('2009-01-04 23:05:00'), Timestamp('2009-01-05 14:30:00')),
 (Timestamp('2009-01-06 00:46:00'), Timestamp('2009-01-06 01:05:00')),
 (Timestamp('2009-01-06 08:20:00'), Timestamp('2009-01-06 11:05:00')),
 (Timestamp('2009-01-06 08:20:00'), Timestamp('2009-01-06 11:20:00')),
 (Timestamp('2009-01-06 14:25:00'), Timestamp('2009-01-06 14:55:00')),
 (Timestamp('2009-01-07 00:10:00'), Timestamp('2009-01-09 09:20:00')),
 (Timestamp('2009-01-07 00:10:00'), Timestamp('2009-01-09 12:00:00')),
 (Timestamp('2009-03-05 13:00:00'), Timestamp('2009-03-05 13:30:00')),
 (Timestamp('2009-03-05 13:00:00'), Timestamp('2009-03-05 14:57:00')),
 (Timestamp('2009-03-05 20:55:00'), Timestamp('2009-03-05 21:15:00')),
 (Timestamp('2009-03-05 20:55:00'), Timestamp('2009-03-05 21:15:00')),
 (Timestamp('2009-03-07 22:20:00'), Timestamp('2009-03-07 22:40:00')),
 (Timestamp('2009-03-07 22:20:00'), Timestamp('2009-03-07 22:40:00')),
 (Timestamp('2009-03-08 17:05:00'), Timestamp('2009-03-08 18:25:00')),
 (Timestamp('2009-03-09 10:30:00'), Timestamp('2009-03-09 11:30:00')),
 (Timestamp('2009-03-14 22:50:00'), Timestamp('2009-03-14 23:15:00')),
 (Timestamp('2009-03-14 22:50:00'), Timestamp('2009-03-14 23:15:00')),
 (Timestamp('2009-03-15 13:54:00'), Timestamp('2009-03-15 14:29:00')),
 (Timestamp('2009-03-15 13:55:00'), Timestamp('2009-03-15 14:11:00')),
 (Timestamp('2009-03-15 22:35:00'), Timestamp('2009-03-15 22:58:00')),
 (Timestamp('2009-03-15 22:35:00'), Timestamp('2009-03-15 22:58:00')),
 (Timestamp('2009-03-16 14:30:00'), Timestamp('2009-03-16 14:50:00')),
 (Timestamp('2009-03-16 14:30:00'), Timestamp('2009-03-16 14:50:00')),
 (Timestamp('2009-03-17 14:35:00'), Timestamp('2009-03-17 14:46:00')),
 (Timestamp('2009-03-17 14:33:00'), Timestamp('2009-03-17 14:46:00')),
 (Timestamp('2009-03-18 22:47:00'), Timestamp('2009-03-19 00:24:00')),
 (Timestamp('2009-03-20 16:33:00'), Timestamp('2009-03-20 16:46:00')),
 (Timestamp('2009-03-25 02:59:00'), Timestamp('2009-03-25 04:07:00')),
 (Timestamp('2009-03-25 02:59:00'), Timestamp('2009-03-25 03:15:00')),
 (Timestamp('2009-03-28 23:52:00'), Timestamp('2009-03-29 00:18:00')),
 (Timestamp('2009-03-28 23:52:00'), Timestamp('2009-03-29 00:02:00')),
 (Timestamp('2009-03-31 08:00:00'), Timestamp('2009-03-31 09:10:00')),
 (Timestamp('2009-03-31 08:00:00'), Timestamp('2009-03-31 08:25:00')),
 (Timestamp('2009-03-31 11:20:00'), Timestamp('2009-03-31 12:10:00')),
 (Timestamp('2009-03-31 21:55:00'), Timestamp('2009-03-31 22:25:00')),
 (Timestamp('2009-03-31 21:55:00'), Timestamp('2009-03-31 22:15:00')),
 (Timestamp('2009-04-01 22:30:00'), Timestamp('2009-04-02 00:00:00')),
 (Timestamp('2009-04-01 22:30:00'), Timestamp('2009-04-01 22:40:00')),
 (Timestamp('2009-04-02 15:37:00'), Timestamp('2009-04-02 16:00:00')),
 (Timestamp('2009-04-02 15:35:00'), Timestamp('2009-04-02 15:45:00')),
 (Timestamp('2009-04-02 16:46:00'), Timestamp('2009-04-02 16:54:00')),
 (Timestamp('2009-04-02 19:40:00'), Timestamp('2009-04-02 21:48:00')),
 (Timestamp('2009-04-02 22:07:00'), Timestamp('2009-04-03 00:04:00')),
 (Timestamp('2009-04-03 13:15:00'), Timestamp('2009-04-03 14:02:00')),
 (Timestamp('2009-04-03 16:11:00'), Timestamp('2009-04-03 16:30:00')),
 (Timestamp('2009-04-04 13:04:00'), Timestamp('2009-04-04 15:58:00')),
 (Timestamp('2009-04-06 12:32:00'), Timestamp('2009-04-06 13:45:00')),
 (Timestamp('2009-11-13 07:38:00'), Timestamp('2009-11-13 08:29:00')),
 (Timestamp('2009-11-19 15:30:00'), Timestamp('2009-11-19 15:40:00')),
 (Timestamp('2009-11-19 15:30:00'), Timestamp('2009-11-19 15:50:00')),
 (Timestamp('2009-11-22 07:38:00'), Timestamp('2009-11-22 08:12:00')),
 (Timestamp('2009-12-14 22:14:00'), Timestamp('2009-12-14 23:38:00')),
 (Timestamp('2009-12-15 17:05:00'), Timestamp('2009-12-15 17:53:00')),
 (Timestamp('2009-12-16 10:53:00'), Timestamp('2009-12-16 11:58:00')),
 (Timestamp('2009-12-16 21:25:00'), Timestamp('2009-12-16 21:40:00')),
 (Timestamp('2009-12-16 21:25:00'), Timestamp('2009-12-16 21:40:00')),
 (Timestamp('2009-12-17 00:35:00'), Timestamp('2009-12-17 00:47:00')),
 (Timestamp('2010-01-04 22:03:00'), Timestamp('2010-01-04 22:26:00')),
 (Timestamp('2010-01-04 22:03:00'), Timestamp('2010-01-04 22:24:00')),
 (Timestamp('2010-01-24 23:31:00'), Timestamp('2010-01-24 23:57:00')),
 (Timestamp('2010-01-24 23:35:00'), Timestamp('2010-01-24 23:59:00')),
 (Timestamp('2010-02-22 07:45:00'), Timestamp('2010-02-22 08:10:00')),
 (Timestamp('2010-02-22 08:33:00'), Timestamp('2010-02-22 08:57:00')),
 (Timestamp('2010-02-22 09:19:00'), Timestamp('2010-02-22 09:38:00')),
 (Timestamp('2010-03-11 06:35:00'), Timestamp('2010-03-11 07:10:00')),
 (Timestamp('2010-03-23 08:09:00'), Timestamp('2010-03-23 08:33:00')),
 (Timestamp('2010-04-02 09:56:00'), Timestamp('2010-04-02 12:07:00')),
 (Timestamp('2010-04-02 18:55:00'), Timestamp('2010-04-02 20:07:00')),
 (Timestamp('2010-04-08 11:02:00'), Timestamp('2010-04-08 11:45:00')),
 (Timestamp('2010-04-08 14:55:00'), Timestamp('2010-04-08 15:31:00')),
 (Timestamp('2010-04-08 15:31:00'), Timestamp('2010-04-08 16:45:00')),

In [46]:
def get_pass_closure(date_time):
    """take a date_time and check if it is between the start and end times of a closure event
    input: datetime
    output: boolean
    """
    for row in start_end_times:
        if row[0] <= date_time <= row[1]:
            return True
    return False

In [51]:
def add_pass_closed(df):
    """take the weather df and add a new column for whether or not the pass is closed at each date_time
    input: pandas dataframe
    output: pandas dataframe
    """
    df['pass_closed'] = df['date'].map(get_pass_closure)
    return df

In [47]:
weather_df['pass_closed'] = weather_df['date'].map(get_pass_closure)

In [52]:
combined_df = add_pass_closed(weather_df)

In [53]:
combined_df

,date,temp,precipitation,overcast,poor_visibility,windy,pass_closed
0,2006-12-31 23:56:00,23.00,False,True,False,False,False
1,2007-01-01 00:56:00,26.06,False,False,False,False,False
2,2007-01-01 01:56:00,24.98,False,False,False,False,False
3,2007-01-01 02:56:00,24.08,False,False,False,False,False
4,2007-01-01 03:56:00,24.08,False,False,False,False,False
5,2007-01-01 05:56:00,19.94,False,True,True,False,False
6,2007-01-01 10:56:00,19.94,True,True,False,False,False
7,2007-01-01 11:56:00,19.04,True,True,False,False,False
8,2007-01-01 12:56:00,19.94,True,True,False,False,False
9,2007-01-01 13:56:00,21.02,True,True,False,False,False
10,2007-01-01 15:56:00,28.94,True,True,False,False,False
11,2007-01-01 16:56:00,32.00,True,True,False,False,False
12,2007-01-01 19:56:00,35.06,True,True,True,False,False
13,2007-01-01 20:56:00,32.00,False,True,False,False,False
14,2007-01-01 21:56:00,41.00,False,True,False,False,False
15,2007-01-01 22:56:00,42.98,True,True,False,True,False
16,2007-01-01 23:56:00,41.00,True,True,False,False,False
17,2007-01-02 00:56:00,39.92,True,True,False,False,False
18,2007-01-02 01:56:00,39.92,True,True,False,False,False
19,2007-01-02 02:56:00,42.98,True,True,False,False,False
20,2007-01-02 03:56:00,42.98,True,True,False,False,False
21,2007-01-02 04:56:00,44.96,True,True,False,False,False
22,2007-01-02 05:56:00,46.94,True,True,False,False,False
23,2007-01-02 06:56:00,48.02,False,False,False,True,False
24,2007-01-02 07:56:00,46.94,False,True,False,True,False
25,2007-01-02 08:56:00,46.04,False,True,False,False,False
26,2007-01-02 09:56:00,46.94,False,True,False,False,False
27,2007-01-02 10:56:00,48.92,False,True,False,False,False
28,2007-01-02 11:56:00,46.04,True,True,False,False,False
29,2007-01-02 12:56:00,42.98,True,True,False,True,False
...,...,...,...,...,...,...,...
105403,2018-04-01 17:56:00,28.00,True,True,False,True,False
105411,2018-04-01 18:56:00,26.10,False,True,False,True,False
105418,2018-04-01 19:56:00,26.10,True,True,False,False,False
105426,2018-04-01 20:56:00,25.00,True,True,False,True,False
105434,2018-04-01 21:56:00,25.00,True,True,False,False,False
105440,2018-04-01 22:56:00,24.10,True,True,False,True,True
105447,2018-04-01 23:56:00,24.10,True,True,False,False,True
105452,2018-04-02 00:56:00,23.00,True,True,False,True,True
105460,2018-04-02 01:56:00,23.00,True,True,False,False,True
105464,2018-04-02 02:56:00,23.00,True,True,False,False,True
105485,2018-04-02 04:56:00,23.00,True,True,False,False,True
105495,2018-04-02 05:56:00,23.00,True,True,False,False,True
105503,2018-04-02 06:56:00,24.10,True,True,False,False,True
105507,2018-04-02 07:56:00,24.10,True,True,False,False,True
105512,2018-04-02 08:56:00,25.00,True,True,False,False,False
105520,2018-04-02 09:56:00,26.10,True,True,False,False,False
105526,2018-04-02 10:56:00,26.10,False,True,False,False,False
105527,2018-04-02 11:56:00,28.00,False,True,False,False,False
105529,2018-04-02 12:56:00,28.90,False,True,False,False,False
105532,2018-04-02 13:56:00,28.90,False,True,False,False,False
105536,2018-04-02 14:56:00,32.00,False,True,False,False,False
105540,2018-04-02 15:56:00,30.00,True,True,False,False,False
105544,2018-04-02 16:56:00,32.00,False,True,False,False,False
105551,2018-04-02 17:56:00,28.90,False,True,False,False,False
105559,2018-04-02 18:56:00,28.90,True,True,False,True,False
105569,2018-04-02 19:56:00,28.90,True,True,False,False,False
105573,2018-04-02 20:56:00,28.00,True,True,False,False,False
105579,2018-04-02 21:56:00,27.00,False,True,False,False,False
105581,2018-04-02 22:56:00,26.10,False,True,False,False,False
105582,2018-04-02 23:56:00,26.10,False,True,False,False,False

In [55]:
def get_ordinal(date_time):
    """take a date_time and return it's ordinal value
    input: datetime
    output: ordinal
    """
    return date_time.toordinal

In [56]:
def add_ordinal(df):
    """take the combined dataframe and add a column for the ordinal values of the date column
    input: pandas dataframe
    output: pandas dataframe
    """
    df['ordinal_date'] = df['date'].map(get_ordinal)
    return df

In [57]:
ord_df = add_ordinal(combined_df)

In [58]:
ord_df

,date,temp,precipitation,overcast,poor_visibility,windy,pass_closed,ordinal_date
0,2006-12-31 23:56:00,23.00,False,True,False,False,False,<built-in method toordinal of Timestamp object...
1,2007-01-01 00:56:00,26.06,False,False,False,False,False,<built-in method toordinal of Timestamp object...
2,2007-01-01 01:56:00,24.98,False,False,False,False,False,<built-in method toordinal of Timestamp object...
3,2007-01-01 02:56:00,24.08,False,False,False,False,False,<built-in method toordinal of Timestamp object...
4,2007-01-01 03:56:00,24.08,False,False,False,False,False,<built-in method toordinal of Timestamp object...
5,2007-01-01 05:56:00,19.94,False,True,True,False,False,<built-in method toordinal of Timestamp object...
6,2007-01-01 10:56:00,19.94,True,True,False,False,False,<built-in method toordinal of Timestamp object...
7,2007-01-01 11:56:00,19.04,True,True,False,False,False,<built-in method toordinal of Timestamp object...
8,2007-01-01 12:56:00,19.94,True,True,False,False,False,<built-in method toordinal of Timestamp object...
9,2007-01-01 13:56:00,21.02,True,True,False,False,False,<built-in method toordinal of Timestamp object...
10,2007-01-01 15:56:00,28.94,True,True,False,False,False,<built-in method toordinal of Timestamp object...
11,2007-01-01 16:56:00,32.00,True,True,False,False,False,<built-in method toordinal of Timestamp object...
12,2007-01-01 19:56:00,35.06,True,True,True,False,False,<built-in method toordinal of Timestamp object...
13,2007-01-01 20:56:00,32.00,False,True,False,False,False,<built-in method toordinal of Timestamp object...
14,2007-01-01 21:56:00,41.00,False,True,False,False,False,<built-in method toordinal of Timestamp object...
15,2007-01-01 22:56:00,42.98,True,True,False,True,False,<built-in method toordinal of Timestamp object...
16,2007-01-01 23:56:00,41.00,True,True,False,False,False,<built-in method toordinal of Timestamp object...
17,2007-01-02 00:56:00,39.92,True,True,False,False,False,<built-in method toordinal of Timestamp object...
18,2007-01-02 01:56:00,39.92,True,True,False,False,False,<built-in method toordinal of Timestamp object...
19,2007-01-02 02:56:00,42.98,True,True,False,False,False,<built-in method toordinal of Timestamp object...
20,2007-01-02 03:56:00,42.98,True,True,False,False,False,<built-in method toordinal of Timestamp object...
21,2007-01-02 04:56:00,44.96,True,True,False,False,False,<built-in method toordinal of Timestamp object...
22,2007-01-02 05:56:00,46.94,True,True,False,False,False,<built-in method toordinal of Timestamp object...
23,2007-01-02 06:56:00,48.02,False,False,False,True,False,<built-in method toordinal of Timestamp object...
24,2007-01-02 07:56:00,46.94,False,True,False,True,False,<built-in method toordinal of Timestamp object...
25,2007-01-02 08:56:00,46.04,False,True,False,False,False,<built-in method toordinal of Timestamp object...
26,2007-01-02 09:56:00,46.94,False,True,False,False,False,<built-in method toordinal of Timestamp object...
27,2007-01-02 10:56:00,48.92,False,True,False,False,False,<built-in method toordinal of Timestamp object...
28,2007-01-02 11:56:00,46.04,True,True,False,False,False,<built-in method toordinal of Timestamp object...
29,2007-01-02 12:56:00,42.98,True,True,False,True,False,<built-in method toordinal of Timestamp object...
...,...,...,...,...,...,...,...,...
105403,2018-04-01 17:56:00,28.00,True,True,False,True,False,<built-in method toordinal of Timestamp object...
105411,2018-04-01 18:56:00,26.10,False,True,False,True,False,<built-in method toordinal of Timestamp object...
105418,2018-04-01 19:56:00,26.10,True,True,False,False,False,<built-in method toordinal of Timestamp object...
105426,2018-04-01 20:56:00,25.00,True,True,False,True,False,<built-in method toordinal of Timestamp object...
105434,2018-04-01 21:56:00,25.00,True,True,False,False,False,<built-in method toordinal of Timestamp object...
105440,2018-04-01 22:56:00,24.10,True,True,False,True,True,<built-in method toordinal of Timestamp object...
105447,2018-04-01 23:56:00,24.10,True,True,False,False,True,<built-in method toordinal of Timestamp object...
105452,2018-04-02 00:56:00,23.00,True,True,False,True,True,<built-in method toordinal of Timestamp object...
105460,2018-04-02 01:56:00,23.00,True,True,False,False,True,<built-in method toordinal of Timestamp object...
105464,2018-04-02 02:56:00,23.00,True,True,False,False,True,<built-in method toordinal of Timestamp object...
105485,2018-04-02 04:56:00,23.00,True,True,False,False,True,<built-in method toordinal of Timestamp object...
105495,2018-04-02 05:56:00,23.00,True,True,False,False,True,<built-in method toordinal of Timestamp object...
105503,2018-04-02 06:56:00,24.10,True,True,False,False,True,<built-in method toordinal of Timestamp object...
105507,2018-04-02 07:56:00,24.10,True,True,False,False,True,<built-in method toordinal of Timestamp object...
105512,2018-04-02 08:56:00,25.00,True,True,False,False,False,<built-in method toordinal of Timestamp object...
105520,2018-04-02 09:56:00,26.10,True,True,False,False,False,<built-in method toordinal of Timestamp object...
105526,2018-04-02 10:56:00,26.10,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105527,2018-04-02 11:56:00,28.00,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105529,2018-04-02 12:56:00,28.90,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105532,2018-04-02 13:56:00,28.90,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105536,2018-04-02 14:56:00,32.00,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105540,2018-04-02 15:56:00,30.00,True,True,False,False,False,<built-in method toordinal of Timestamp object...
105544,2018-04-02 16:56:00,32.00,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105551,2018-04-02 17:56:00,28.90,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105559,2018-04-02 18:56:00,28.90,True,True,False,True,False,<built-in method toordinal of Timestamp object...
105569,2018-04-02 19:56:00,28.90,True,True,False,False,False,<built-in method toordinal of Timestamp object...
105573,2018-04-02 20:56:00,28.00,True,True,False,False,False,<built-in method toordinal of Timestamp object...
105579,2018-04-02 21:56:00,27.00,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105581,2018-04-02 22:56:00,26.10,False,True,False,False,False,<built-in method toordinal of Timestamp object...
105582,2018-04-02 23:56:00,26.10,False,True,False,False,False,<built-in method toordinal of Timestamp object...

In [65]:
d = datetime.datetime.strptime('2018-04-02 23:56:00', '%Y-%m-%d %H:%M:%S').date()

In [69]:
d

datetime.date(2018, 4, 2)

In [68]:
d_ord