In [8]:
# %load ../src/weather_data_clean.py
import pandas as pd

def clean_weather_data(filename):
    """Take ASOS weather data file for Stampede pass and clean it ready for input to model.
    Input: txt file
    Output: pandas dataframe
    """
    data = pd.read_csv(filename)

    # Rename two of the columns
    data.rename(columns={'valid':'date', 'tmpf':'temp'}, inplace=True)

    # Remove the few rows that have a null value for temp
    data = data[~data.temp.eq('M')]

    # Remove spaces from column names
    data.rename(columns=lambda x: x.replace(' ', ''), inplace=True)

    # Only use the standard hourly weather reading at 56 mins past each hour
    mask = data['date'].apply(lambda x: x[-2:] == '56')
    data = data[mask]

    # Create a date series to be used in the clean dataframe
    date = pd.to_datetime(data['date'])

    # Create a temp series to be used in the clean dataframe
    temp = data['temp'].apply(float)

    # Cast the null value M to zero to enable create of the raw precipitation series cast to floats
    data.p01i[data.p01i == 'M'] = 0
    raw_precipitation = data['p01i'].apply(float)

    # Create a precipitation series to be used in the clean dataframe
    precipitation = raw_precipitation.apply(lambda x: True if (x > 0) else False)

    # Convert sky coverage data to clear or cloudy and create an overcast series to be used in the clean dataframe
    sky_elements = ['skyc1', 'skyc2', 'skyc3']
    data.skyc1 = data.skyc1.astype(str)
    data.skyc2 = data.skyc2.astype(str)
    data.skyc3 = data.skyc3.astype(str)
    sky_agg = data[sky_elements].values.tolist()
    sky_reduce = [['overcast' if (('BKN' in element) or ('OVC' in element) or ('VV' in element)) else 'clear'
                    for element in row] for row in sky_agg]
    overcast = pd.Series([True if 'overcast' in row else False for row in sky_reduce])
    overcast.index = date.index

    # Cast the null value 'M' to 10.00 to enable the creation of a poor visibility series
    data.vsby[data.vsby == 'M'] = 10.00
    raw_visibility = data['vsby'].apply(float)
    poor_visibility = pd.Series([True if value < 0.50 else False for value in raw_visibility])
    poor_visibility.index = date.index

    # Cast the null value 'M' to 0 to enable the creation of a windy series
    data.sknt[data.sknt == 'M'] = 0.00
    data.gust[data.gust == 'M'] = 0.00
    wind_speed = data['sknt'].apply(float)
    gust_speed = data['gust'].apply(float)
    wind_df = pd.concat([wind_speed, gust_speed], axis=1)
    # Finally apply the function f to enable the creation of the windy column
    windy = wind_df.apply(f, axis=1)

    """Create the cleaned dataframe by concatenating the date, temp, precipitation, overcast, poor_visibility
    and windy series"""
    df = pd.concat([date, temp, precipitation, overcast, poor_visibility, windy], axis=1)
    df.columns = ['date', 'temp', 'precipitation', 'overcast', 'poor_visibility', 'windy']
    cleaned_df = df[(df['date'] > '2006-12-31') & (df['date'] < '2018-04-03')]
    return cleaned_df

def f(row):
    """Function to be able to create the windy series with windy being true if wind speed is above 10 knots
    or gust speed is above 20 knots"""
    if row['sknt'] >= 10.00:
        val = True
    elif row['gust'] >= 20.00:
        val = True
    else:
        val = False
    return val

In [10]:
weather_df = clean_weather_data('ASOS_stampede_pass/SMP-2.txt')

/Users/leanne/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [11]:
weather_df

,date,temp,precipitation,overcast,poor_visibility,windy
0,2006-12-31 23:56:00,23.00,False,True,False,False
1,2007-01-01 00:56:00,26.06,False,False,False,False
2,2007-01-01 01:56:00,24.98,False,False,False,False
3,2007-01-01 02:56:00,24.08,False,False,False,False
4,2007-01-01 03:56:00,24.08,False,False,False,False
5,2007-01-01 05:56:00,19.94,False,True,True,False
6,2007-01-01 10:56:00,19.94,True,True,False,False
7,2007-01-01 11:56:00,19.04,True,True,False,False
8,2007-01-01 12:56:00,19.94,True,True,False,False
9,2007-01-01 13:56:00,21.02,True,True,False,False
10,2007-01-01 15:56:00,28.94,True,True,False,False
11,2007-01-01 16:56:00,32.00,True,True,False,False
12,2007-01-01 19:56:00,35.06,True,True,True,False
13,2007-01-01 20:56:00,32.00,False,True,False,False
14,2007-01-01 21:56:00,41.00,False,True,False,False
15,2007-01-01 22:56:00,42.98,True,True,False,True
16,2007-01-01 23:56:00,41.00,True,True,False,False
17,2007-01-02 00:56:00,39.92,True,True,False,False
18,2007-01-02 01:56:00,39.92,True,True,False,False
19,2007-01-02 02:56:00,42.98,True,True,False,False
20,2007-01-02 03:56:00,42.98,True,True,False,False
21,2007-01-02 04:56:00,44.96,True,True,False,False
22,2007-01-02 05:56:00,46.94,True,True,False,False
23,2007-01-02 06:56:00,48.02,False,False,False,True
24,2007-01-02 07:56:00,46.94,False,True,False,True
25,2007-01-02 08:56:00,46.04,False,True,False,False
26,2007-01-02 09:56:00,46.94,False,True,False,False
27,2007-01-02 10:56:00,48.92,False,True,False,False
28,2007-01-02 11:56:00,46.04,True,True,False,False
29,2007-01-02 12:56:00,42.98,True,True,False,True
...,...,...,...,...,...,...
105403,2018-04-01 17:56:00,28.00,True,True,False,True
105411,2018-04-01 18:56:00,26.10,False,True,False,True
105418,2018-04-01 19:56:00,26.10,True,True,False,False
105426,2018-04-01 20:56:00,25.00,True,True,False,True
105434,2018-04-01 21:56:00,25.00,True,True,False,False
105440,2018-04-01 22:56:00,24.10,True,True,False,True
105447,2018-04-01 23:56:00,24.10,True,True,False,False
105452,2018-04-02 00:56:00,23.00,True,True,False,True
105460,2018-04-02 01:56:00,23.00,True,True,False,False
105464,2018-04-02 02:56:00,23.00,True,True,False,False
105485,2018-04-02 04:56:00,23.00,True,True,False,False
105495,2018-04-02 05:56:00,23.00,True,True,False,False
105503,2018-04-02 06:56:00,24.10,True,True,False,False
105507,2018-04-02 07:56:00,24.10,True,True,False,False
105512,2018-04-02 08:56:00,25.00,True,True,False,False
105520,2018-04-02 09:56:00,26.10,True,True,False,False
105526,2018-04-02 10:56:00,26.10,False,True,False,False
105527,2018-04-02 11:56:00,28.00,False,True,False,False
105529,2018-04-02 12:56:00,28.90,False,True,False,False
105532,2018-04-02 13:56:00,28.90,False,True,False,False
105536,2018-04-02 14:56:00,32.00,False,True,False,False
105540,2018-04-02 15:56:00,30.00,True,True,False,False
105544,2018-04-02 16:56:00,32.00,False,True,False,False
105551,2018-04-02 17:56:00,28.90,False,True,False,False
105559,2018-04-02 18:56:00,28.90,True,True,False,True
105569,2018-04-02 19:56:00,28.90,True,True,False,False
105573,2018-04-02 20:56:00,28.00,True,True,False,False
105579,2018-04-02 21:56:00,27.00,False,True,False,False
105581,2018-04-02 22:56:00,26.10,False,True,False,False
105582,2018-04-02 23:56:00,26.10,False,True,False,False

In [18]:
# %load ../src/pass_data_clean.py
import pandas as pd

def clean_pass_data(filename):
    """Take Snoqualmie pass closure data file and clean it ready for input to model.
    Input: xlsx file
    Output: Pandas dataframe
    """
    data = pd.read_excel(filename, header=[1])

    #drop unnamed/unnecessary columns
    data.drop(data.columns[[11,12,13,14]], axis=1, inplace=True)

    #drop unnecessary secondary incident columns
    data.drop(data.columns[[1,8]], axis=1, inplace=True)

    #rename 'Incident...' columns to start_time and end_time 
    data.rename(columns={'INCIDENT START TIMES FOR EACH DIRECTION':'start_time'}, inplace=True)
    data.rename(columns={'INCIDENT END TIMES - DIRECTIONAL':'end_time'}, inplace=True)

    #use only dates from 2007-01-01 to match with available weather and traffic volume data
    df = data[(data['start_time'] > '2006-12-31')]

    #rename 'Delay Time Total' to delay
    df.rename(columns={'Delay Time Total':'delay'}, inplace=True)

    #drop row with nan value in delay
    df = df.dropna(subset=['delay'])

    #create a westbound pandas series with True if westbound and false if eastbound
    westbound = pd.Series([True if value == 'WB' else False for value in df.DIRECTION])

    #create a snow pandas series with True if weather description contains sn, false otherwise
    snow = df.WEATHER.str.contains('sn', case=False, na=False, regex=True)

    #create pandas series for start and end times
    start_time = pd.to_datetime(df['start_time'])
    end_time = pd.to_datetime(df['end_time'])

    #ensure that all the pandas series created have the same index
    westbound.index = start_time.index
    snow.index = start_time.index
    end_time.index = start_time.index

    #create cleaned df with the series created
    cleaned_df = pd.concat([start_time, end_time, westbound, snow], axis=1)

    #rename columns
    cleaned_df.rename(columns={0:'westbound', 'WEATHER':'snow'}, inplace=True)

    return cleaned_df

In [19]:
pass_closure_df = clean_pass_data('Cumulative_Snoqualmie_Pass_Delay_Closures_1992_2018.xlsx')

/Users/leanne/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [20]:
pass_closure_df

              start_time            end_time  westbound   snow
830  2007-01-02 14:31:00 2007-01-02 16:45:00      False  False
831  2007-01-02 15:00:00 2007-01-02 15:44:00       True  False
832  2007-01-02 19:23:00 2007-01-02 19:33:00       True  False
833  2007-01-03 11:28:00 2007-01-03 11:40:00       True   True
834  2007-01-03 11:29:00 2007-01-03 11:46:00      False   True
835  2007-01-05 00:01:00 2007-01-05 00:16:00      False   True
836  2007-01-05 00:02:00 2007-01-05 00:11:00       True   True
837  2007-01-05 19:29:00 2007-01-05 19:51:00      False   True
838  2007-01-05 19:29:00 2007-01-05 19:44:00       True   True
839  2007-01-06 00:26:00 2007-01-06 00:46:00      False   True
840  2007-01-06 00:25:00 2007-01-06 00:41:00       True   True
841  2007-01-06 03:42:00 2007-01-06 04:55:00      False   True
842  2007-01-06 03:43:00 2007-01-06 04:21:00       True   True
843  2007-01-07 08:46:00 2007-01-07 10:46:00      False   True
846  2007-01-07 12:05:00 2007-01-07 14:17:00      False   True
847  2007-01-07 12:10:00 2007-01-07 14:17:00       True   True
848  2007-01-07 13:23:00 2007-01-07 14:17:00      False   True
851  2007-01-07 17:12:00 2007-01-07 17:38:00       True   True
852  2007-01-07 20:02:00 2007-01-07 22:17:00      False  False
853  2007-01-16 10:12:00 2007-01-16 13:41:00       True   True
861  2007-01-18 20:27:00 2007-01-18 20:43:00      False   True
862  2007-01-18 20:29:00 2007-01-18 21:04:00       True   True
863  2007-01-20 14:00:00 2007-01-20 14:18:00      False   True
864  2007-01-20 14:00:00 2007-01-20 14:18:00       True   True
865  2007-01-26 15:02:00 2007-01-26 15:19:00      False  False
866  2007-01-31 10:17:00 2007-01-31 15:34:00      False  False
869  2007-02-05 22:33:00 2007-02-05 22:46:00       True  False
870  2007-02-05 22:28:00 2007-02-05 22:53:00      False  False
872  2007-02-20 08:15:00 2007-02-20 08:53:00       True  False
873  2007-02-20 08:17:00 2007-02-20 08:59:00      False  False
...                  ...                 ...        ...    ...
1602 2017-11-03 17:23:00 2017-11-03 21:37:00       True   True
1603 2017-11-05 11:12:00 2017-11-05 14:45:00       True   True
1604 2017-11-05 11:29:00 2017-11-05 14:31:00      False   True
1605 2017-11-19 20:05:00 2017-11-19 22:32:00       True   True
1606 2017-12-19 07:56:00 2017-12-19 10:03:00      False   True
1607 2017-12-19 10:50:00 2017-12-19 12:25:00      False   True
1608 2018-01-11 06:58:00 2018-01-11 08:18:00      False   True
1609 2018-01-11 10:19:00 2018-01-11 11:39:00      False   True
1610 2018-01-11 12:44:00 2018-01-11 19:50:00      False   True
1611 2018-01-23 17:54:00 2018-01-23 20:02:00      False   True
1612 2018-01-26 10:33:00 2018-01-26 12:39:00      False   True
1613 2018-01-26 11:10:00 2018-01-26 12:50:00       True   True
1614 2018-01-27 04:30:00 2018-01-27 05:15:00      False   True
1615 2018-01-27 20:54:00 2018-01-27 21:45:00      False  False
1616 2018-02-02 02:00:00 2018-02-02 02:30:00      False  False
1617 2018-02-02 02:10:00 2018-02-02 02:34:00       True  False
1618 2018-02-16 06:28:00 2018-02-16 08:40:00      False   True
1619 2018-02-17 09:17:00 2018-02-17 09:55:00      False   True
1620 2018-02-17 12:03:00 2018-02-17 12:34:00       True   True
1621 2018-02-18 18:43:00 2018-02-18 20:13:00      False   True
1622 2018-03-04 11:27:00 2018-03-04 13:45:00       True   True
1623 2018-03-04 12:13:00 2018-03-04 13:45:00       True   True
1624 2018-03-04 11:36:00 2018-03-04 13:49:00      False   True
1625 2018-03-04 18:02:00 2018-03-05 00:00:00      False   True
1626 2018-03-04 18:21:00 2018-03-05 00:00:00       True   True
1627 2018-03-04 20:31:00 2018-03-05 00:00:00      False   True
1628 2018-03-29 09:02:00 2018-03-29 09:39:00      False  False
1629 2018-03-29 09:02:00 2018-03-29 09:42:00       True  False
1630 2018-04-01 22:29:00 2018-04-02 07:41:00       True   True
1631 2018-04-01 23:09:00 2018-04-02 07:58:00      False   True

[775 rows x 4 columns]

In [ ]:
for date in weather_df: