In [39]:
# %load ../src/pipeline_classes.py
import pandas as pd 
import numpy as np 
from sklearn.base import BaseEstimator, TransformerMixin

class Featurizer(BaseEstimator, TransformerMixin):
    """Transform incoming df to fit into model"""
   
    def __init__(self, cols=None):
        """INPUT: an optional cols list of columns to select"""
        if cols==None:
            self.cols = ['date', 'temp', 'precipitation', 'overcast', 'poor_visibility', 'windy']
        else:
            self.cols = cols

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        """tranform incoming training or test"""
        df = X.copy()
        print(df)
        date_column = pd.Series(df.date)
        month_day_of_week = pd.DataFrame({"year": date_column.dt.year,
                                        "month": date_column.dt.month, 
                                        "day": date_column.dt.day,
                                        "dayofweek": date_column.dt.dayofweek})
        month_day_of_week.dayofweek[month_day_of_week.dayofweek == 0] = 'Monday'
        month_day_of_week.dayofweek[month_day_of_week.dayofweek == 1] = 'Tuesday'
        month_day_of_week.dayofweek[month_day_of_week.dayofweek == 2] = 'Wednesday'
        month_day_of_week.dayofweek[month_day_of_week.dayofweek == 3] = 'Thursday'
        month_day_of_week.dayofweek[month_day_of_week.dayofweek == 4] = 'Friday'
        month_day_of_week.dayofweek[month_day_of_week.dayofweek == 5] = 'Saturday'
        month_day_of_week.dayofweek[month_day_of_week.dayofweek == 6] = 'Sunday'
        month_day_of_week = pd.get_dummies(month_day_of_week)
        month_day_of_week.index = df.index
        features = pd.concat([df, month_day_of_week], axis=1)
        return features

In [10]:
# %load ../src/weather_data_clean.py
import pandas as pd

def clean_weather_data(filename):
    """Take ASOS weather data file for Stampede pass and clean it ready for input to model.
    Input: txt file
    Output: pandas dataframe
    """
    data = pd.read_csv(filename)

    # Rename two of the columns
    data.rename(columns={'valid':'date', 'tmpf':'temp'}, inplace=True)

    # Remove the few rows that have a null value for temp
    data = data[~data.temp.eq('M')]

    # Remove spaces from column names
    data.rename(columns=lambda x: x.replace(' ', ''), inplace=True)

    # Only use the standard hourly weather reading at 56 mins past each hour
    mask = data['date'].apply(lambda x: x[-2:] == '56')
    data = data[mask]

    # Create a date series to be used in the clean dataframe
    date = pd.to_datetime(data['date'])

    # Create a temp series to be used in the clean dataframe
    temp = data['temp'].apply(float)

    # Cast the null value M to zero to enable create of the raw precipitation series cast to floats
    data.p01i[data.p01i == 'M'] = 0
    raw_precipitation = data['p01i'].apply(float)

    # Create a precipitation series to be used in the clean dataframe
    precipitation = raw_precipitation.apply(lambda x: True if (x > 0) else False)

    # Convert sky coverage data to clear or cloudy and create an overcast series to be used in the clean dataframe
    sky_elements = ['skyc1', 'skyc2', 'skyc3']
    data.skyc1 = data.skyc1.astype(str)
    data.skyc2 = data.skyc2.astype(str)
    data.skyc3 = data.skyc3.astype(str)
    sky_agg = data[sky_elements].values.tolist()
    sky_reduce = [['overcast' if (('BKN' in element) or ('OVC' in element) or ('VV' in element)) else 'clear'
                    for element in row] for row in sky_agg]
    overcast = pd.Series([True if 'overcast' in row else False for row in sky_reduce])
    overcast.index = date.index

    # Cast the null value 'M' to 10.00 to enable the creation of a poor visibility series
    data.vsby[data.vsby == 'M'] = 10.00
    raw_visibility = data['vsby'].apply(float)
    poor_visibility = pd.Series([True if value < 0.50 else False for value in raw_visibility])
    poor_visibility.index = date.index

    # Cast the null value 'M' to 0 to enable the creation of a windy series
    data.sknt[data.sknt == 'M'] = 0.00
    data.gust[data.gust == 'M'] = 0.00
    wind_speed = data['sknt'].apply(float)
    gust_speed = data['gust'].apply(float)
    wind_df = pd.concat([wind_speed, gust_speed], axis=1)
    # Finally apply the function f to enable the creation of the windy column
    windy = wind_df.apply(f, axis=1)

    """Create the cleaned dataframe by concatenating the date, temp, precipitation, overcast, poor_visibility
    and windy series"""
    df = pd.concat([date, temp, precipitation, overcast, poor_visibility, windy], axis=1)
    df.columns = ['date', 'temp', 'precipitation', 'overcast', 'poor_visibility', 'windy']
    cleaned_df = df[(df['date'] > '2006-12-31') & (df['date'] < '2018-04-03')]
    return cleaned_df

def f(row):
    """Function to be able to create the windy series with windy being true if wind speed is above 10 knots
    or gust speed is above 20 knots"""
    if row['sknt'] >= 10.00:
        val = True
    elif row['gust'] >= 20.00:
        val = True
    else:
        val = False
    return val

In [12]:
# %load ../src/pass_data_clean.py
import pandas as pd

def clean_pass_data(filename):
    """Take Snoqualmie pass closure data file and clean it ready for input to model.
    Input: xlsx file
    Output: Pandas dataframe
    """
    data = pd.read_excel(filename, header=[1])

    #drop unnamed/unnecessary columns
    data.drop(data.columns[[11,12,13,14]], axis=1, inplace=True)

    #drop unnecessary secondary incident columns
    data.drop(data.columns[[1,8]], axis=1, inplace=True)

    #rename 'Incident...' columns to start_time and end_time 
    data.rename(columns={'INCIDENT START TIMES FOR EACH DIRECTION':'start_time'}, inplace=True)
    data.rename(columns={'INCIDENT END TIMES - DIRECTIONAL':'end_time'}, inplace=True)

    #use only dates from 2007-01-01 to match with available weather and traffic volume data
    df = data[(data['start_time'] > '2006-12-31')]

    #rename 'Delay Time Total' to delay
    df.rename(columns={'Delay Time Total':'delay'}, inplace=True)

    #drop row with nan value in delay
    df = df.dropna(subset=['delay'])

    #create a westbound pandas series with True if westbound and false if eastbound
    westbound = pd.Series([True if value == 'WB' else False for value in df.DIRECTION])

    #create a snow pandas series with True if weather description contains sn, false otherwise
    snow = df.WEATHER.str.contains('sn', case=False, na=False, regex=True)

    #create pandas series for start and end times
    start_time = pd.to_datetime(df['start_time'])
    end_time = pd.to_datetime(df['end_time'])

    #ensure that all the pandas series created have the same index
    westbound.index = start_time.index
    snow.index = start_time.index
    end_time.index = start_time.index

    #create cleaned df with the series created
    cleaned_df = pd.concat([start_time, end_time, westbound, snow], axis=1)

    #rename columns
    cleaned_df.rename(columns={0:'westbound', 'WEATHER':'snow'}, inplace=True)

    return cleaned_df

In [17]:
# %load ../src/combine_data.py
import pandas as pd
#from pass_data_clean import clean_pass_data

pass_closure_df = clean_pass_data('Cumulative_Snoqualmie_Pass_Delay_Closures_1992_2018.xlsx')

def get_pass_closure(date_time):
    """take a date_time and check if it is between the start and end times of a closure event
    input: datetime
    output: boolean
    """
    start_end_times = list(zip(pass_closure_df.start_time, pass_closure_df.end_time))
    for row in start_end_times:
        if row[0] <= date_time <= row[1]:
            return True
    return False

def add_pass_closed(df):
    """take the weather df and add a new column for whether or not the pass is closed at each date_time
    input: pandas dataframe
    output: pandas dataframe
    """
    df['pass_closed'] = df['date'].map(get_pass_closure)
    return df

def true_false_to_one_zero(df):
    """take the combined df and change all the true/false values to 1/0
    input: pandas dataframe
    output: pandas dataframe
    """
    df[['precipitation', 'overcast', 'poor_visibility', 'windy', 'pass_closed']] = (
        df[['precipitation', 'overcast', 'poor_visibility', 'windy', 'pass_closed']] == True).astype(int)
    return df

def aggregate_data_to_daily(df):
    """take the combined df and aggregate the data into daily rather than hourly data to be used to train the model
    input: pandas dataframe
    output: pandas dataframe
    """
    df.index = df.date
    daily_df = df.resample("D").agg({'temp':'mean','precipitation':'max', 'overcast':'max', 'poor_visibility':'max', 'windy':'max', 'pass_closed':'max'})
    daily_df.dropna(inplace=True)
    daily_df.reset_index(inplace=True)
    daily_df.rename(columns={'index':'date'}, inplace=True)
    return daily_df

/Users/leanne/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [31]:
# %load ../src/model.py
import pandas as pd
import numpy as np
#from pipeline_classes import Featurizer
#from weather_data_clean import clean_weather_data
#from pass_data_clean import clean_pass_data
#from combine_data import get_pass_closure, add_pass_closed, true_false_to_one_zero, aggregate_data_to_daily
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
import pickle

def get_data():
    """function to get all the original data that is required to train the model
    Output: pandas dataframe to use to train model"""
    weather_df = clean_weather_data('../data_exploration/ASOS_stampede_pass/SMP-2.txt')
    combined_df = add_pass_closed(weather_df)
    combined_df = true_false_to_one_zero(combined_df)
    daily_df = aggregate_data_to_daily(combined_df)
    return daily_df

def get_training_data():
    """get the training data that used to train the model
    Output: X, y used to train the model"""
    df = get_data()
    y = df['pass_closed']
    X = df.drop('pass_closed', axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
    return X_train, X_test, y_train, y_test

def pass_pipeline():
    """instantiate a pipeline object"""
    pipeline = Pipeline([
        ('featurizer', Featurizer()),
        ('model', RandomForestClassifier(n_estimators=600, 
                                         max_depth=40))
        ])
    return pipeline

def pickle_pipeline(pipeline, output_name):
    """Save fitted pipeline to pickle file"""
    with open(output_name, 'wb') as f:
        pickle.dump(pipeline, f)

In [32]:
X_train, X_test, y_train, y_test = get_training_data()

/Users/leanne/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

In [33]:
X_train

           date       temp  precipitation  overcast  poor_visibility  windy
1962 2014-06-11  57.368750            0.0       1.0              0.0    0.0
1839 2013-02-18  22.460000            0.0       1.0              0.0    0.0
655  2008-11-11  40.718261            1.0       1.0              1.0    0.0
610  2008-09-27  49.527500            0.0       1.0              1.0    0.0
2228 2016-06-04  67.925000            0.0       0.0              0.0    0.0
1444 2011-07-09  47.588000            0.0       0.0              0.0    0.0
1271 2010-10-26  30.380000            1.0       1.0              1.0    0.0
2209 2016-05-16  42.350000            0.0       1.0              1.0    0.0
1357 2011-02-21  23.747000            1.0       1.0              1.0    1.0
2031 2014-08-22  51.080000            0.0       0.0              0.0    0.0
2295 2016-08-10  52.130000            0.0       1.0              0.0    0.0
461  2008-04-27  46.077500            0.0       1.0              1.0    0.0
949  2009-11-22  33.557391            1.0       1.0              1.0    1.0
157  2007-06-17  41.352500            1.0       1.0              1.0    1.0
1744 2012-09-28  58.460000            0.0       0.0              0.0    0.0
1640 2012-03-06  19.880000            1.0       1.0              1.0    0.0
2078 2015-10-03  49.313750            0.0       1.0              0.0    0.0
238  2007-09-10  61.580000            0.0       0.0              0.0    0.0
2479 2017-02-13  25.728571            0.0       0.0              0.0    0.0
2344 2016-09-28  51.110000            0.0       1.0              0.0    0.0
1801 2013-01-04  19.940000            0.0       1.0              1.0    0.0
100  2007-04-21  36.635000            0.0       1.0              0.0    1.0
315  2007-11-29  24.503000            1.0       1.0              1.0    0.0
2475 2017-02-09  29.483333            0.0       1.0              1.0    0.0
1334 2011-01-29  33.337143            1.0       1.0              1.0    0.0
978  2009-12-31  33.080000            0.0       1.0              0.0    0.0
2245 2016-06-21  47.315000            1.0       1.0              1.0    0.0
261  2007-10-03  34.640000            1.0       1.0              1.0    1.0
785  2009-05-31  64.021053            0.0       0.0              0.0    0.0
1743 2012-09-27  54.185000            0.0       1.0              0.0    0.0
...         ...        ...            ...       ...              ...    ...
2047 2014-09-10  51.980000            0.0       1.0              0.0    0.0
2558 2017-05-26  55.841667            0.0       1.0              0.0    0.0
1082 2010-04-19  50.960000            0.0       1.0              0.0    1.0
474  2008-05-10  42.380000            1.0       1.0              1.0    0.0
747  2009-04-23  32.099000            1.0       1.0              1.0    0.0
2300 2016-08-15  60.200000            0.0       0.0              0.0    0.0
21   2007-01-31  21.756364            1.0       1.0              1.0    0.0
459  2008-04-25  30.860000            1.0       1.0              1.0    1.0
1184 2010-07-31  54.617391            1.0       1.0              1.0    0.0
2324 2016-09-08  46.715000            1.0       1.0              0.0    1.0
955  2009-11-28  37.317500            1.0       1.0              1.0    0.0
1215 2010-08-31  43.425714            1.0       1.0              1.0    1.0
2433 2016-12-29  27.062500            0.0       1.0              1.0    0.0
2853 2018-03-17  32.316667            1.0       1.0              1.0    0.0
1515 2011-09-18  49.545714            1.0       1.0              1.0    0.0
2391 2016-11-17  30.991667            0.0       1.0              1.0    0.0
769  2009-05-15  46.768571            0.0       1.0              1.0    0.0
1685 2012-07-30  49.235000            0.0       1.0              1.0    0.0
130  2007-05-21  35.405000            1.0       1.0              1.0    1.0
2135 2016-03-03  35.900000            0.0       1.0              0.0    0.0
1482 2011-08-16  54.335000            0.0       0.0              0.0    0.0
330  2007-12-14  27.382609            1.0       1.0              1.0    1.0
1238 2010-09-23  41.945000            1.0       1.0              1.0    0.0
466  2008-05-02  41.286364            0.0       1.0              0.0    0.0
2169 2016-04-06  47.412500            0.0       1.0              0.0    0.0
1638 2012-03-04  33.333636            0.0       1.0              1.0    0.0
1095 2010-05-02  37.125714            1.0       1.0              1.0    1.0
1130 2010-06-07  46.348571            1.0       1.0              1.0    0.0
1294 2010-12-20  22.837143            1.0       1.0              1.0    1.0
860  2009-08-14  44.960000            1.0       1.0              1.0    0.0

[2296 rows x 6 columns]

In [40]:
features = Featurizer()

In [41]:
features.transform(X_train)

           date       temp  precipitation  overcast  poor_visibility  windy
1962 2014-06-11  57.368750            0.0       1.0              0.0    0.0
1839 2013-02-18  22.460000            0.0       1.0              0.0    0.0
655  2008-11-11  40.718261            1.0       1.0              1.0    0.0
610  2008-09-27  49.527500            0.0       1.0              1.0    0.0
2228 2016-06-04  67.925000            0.0       0.0              0.0    0.0
1444 2011-07-09  47.588000            0.0       0.0              0.0    0.0
1271 2010-10-26  30.380000            1.0       1.0              1.0    0.0
2209 2016-05-16  42.350000            0.0       1.0              1.0    0.0
1357 2011-02-21  23.747000            1.0       1.0              1.0    1.0
2031 2014-08-22  51.080000            0.0       0.0              0.0    0.0
2295 2016-08-10  52.130000            0.0       1.0              0.0    0.0
461  2008-04-27  46.077500            0.0       1.0              1.0    0.0
949  2009-11-22  33.557391            1.0       1.0              1.0    1.0
157  2007-06-17  41.352500            1.0       1.0              1.0    1.0
1744 2012-09-28  58.460000            0.0       0.0              0.0    0.0
1640 2012-03-06  19.880000            1.0       1.0              1.0    0.0
2078 2015-10-03  49.313750            0.0       1.0              0.0    0.0
238  2007-09-10  61.580000            0.0       0.0              0.0    0.0
2479 2017-02-13  25.728571            0.0       0.0              0.0    0.0
2344 2016-09-28  51.110000            0.0       1.0              0.0    0.0
1801 2013-01-04  19.940000            0.0       1.0              1.0    0.0
100  2007-04-21  36.635000            0.0       1.0              0.0    1.0
315  2007-11-29  24.503000            1.0       1.0              1.0    0.0
2475 2017-02-09  29.483333            0.0       1.0              1.0    0.0
1334 2011-01-29  33.337143            1.0       1.0              1.0    0.0
978  2009-12-31  33.080000            0.0       1.0              0.0    0.0
2245 2016-06-21  47.315000            1.0       1.0              1.0    0.0
261  2007-10-03  34.640000            1.0       1.0              1.0    1.0
785  2009-05-31  64.021053            0.0       0.0              0.0    0.0
1743 2012-09-27  54.185000            0.0       1.0              0.0    0.0
...         ...        ...            ...       ...              ...    ...
2047 2014-09-10  51.980000            0.0       1.0              0.0    0.0
2558 2017-05-26  55.841667            0.0       1.0              0.0    0.0
1082 2010-04-19  50.960000            0.0       1.0              0.0    1.0
474  2008-05-10  42.380000            1.0       1.0              1.0    0.0
747  2009-04-23  32.099000            1.0       1.0              1.0    0.0
2300 2016-08-15  60.200000            0.0       0.0              0.0    0.0
21   2007-01-31  21.756364            1.0       1.0              1.0    0.0
459  2008-04-25  30.860000            1.0       1.0              1.0    1.0
1184 2010-07-31  54.617391            1.0       1.0              1.0    0.0
2324 2016-09-08  46.715000            1.0       1.0              0.0    1.0
955  2009-11-28  37.317500            1.0       1.0              1.0    0.0
1215 2010-08-31  43.425714            1.0       1.0              1.0    1.0
2433 2016-12-29  27.062500            0.0       1.0              1.0    0.0
2853 2018-03-17  32.316667            1.0       1.0              1.0    0.0
1515 2011-09-18  49.545714            1.0       1.0              1.0    0.0
2391 2016-11-17  30.991667            0.0       1.0              1.0    0.0
769  2009-05-15  46.768571            0.0       1.0              1.0    0.0
1685 2012-07-30  49.235000            0.0       1.0              1.0    0.0
130  2007-05-21  35.405000            1.0       1.0              1.0    1.0
2135 2016-03-03  35.900000            0.0       1.0              0.0    0.0
1482 2011-08-16  54.335000            0.0       0.0              0.0    0.0
330  2007-12-14  27.382609            1.0       1.0              1.0    1.0
1238 2010-09-23  41.945000            1.0       1.0              1.0    0.0
466  2008-05-02  41.286364            0.0       1.0              0.0    0.0
2169 2016-04-06  47.412500            0.0       1.0              0.0    0.0
1638 2012-03-04  33.333636            0.0       1.0              1.0    0.0
1095 2010-05-02  37.125714            1.0       1.0              1.0    1.0
1130 2010-06-07  46.348571            1.0       1.0              1.0    0.0
1294 2010-12-20  22.837143            1.0       1.0              1.0    1.0
860  2009-08-14  44.960000            1.0       1.0              1.0    0.0

[2296 rows x 6 columns]

,date,temp,precipitation,overcast,poor_visibility,windy,year,month,day,dayofweek_Friday,dayofweek_Monday,dayofweek_Saturday,dayofweek_Sunday,dayofweek_Thursday,dayofweek_Tuesday,dayofweek_Wednesday
1962,2014-06-11,57.368750,0.0,1.0,0.0,0.0,2014,6,11,0,0,0,0,0,0,1
1839,2013-02-18,22.460000,0.0,1.0,0.0,0.0,2013,2,18,0,1,0,0,0,0,0
655,2008-11-11,40.718261,1.0,1.0,1.0,0.0,2008,11,11,0,0,0,0,0,1,0
610,2008-09-27,49.527500,0.0,1.0,1.0,0.0,2008,9,27,0,0,1,0,0,0,0
2228,2016-06-04,67.925000,0.0,0.0,0.0,0.0,2016,6,4,0,0,1,0,0,0,0
1444,2011-07-09,47.588000,0.0,0.0,0.0,0.0,2011,7,9,0,0,1,0,0,0,0
1271,2010-10-26,30.380000,1.0,1.0,1.0,0.0,2010,10,26,0,0,0,0,0,1,0
2209,2016-05-16,42.350000,0.0,1.0,1.0,0.0,2016,5,16,0,1,0,0,0,0,0
1357,2011-02-21,23.747000,1.0,1.0,1.0,1.0,2011,2,21,0,1,0,0,0,0,0
2031,2014-08-22,51.080000,0.0,0.0,0.0,0.0,2014,8,22,1,0,0,0,0,0,0
2295,2016-08-10,52.130000,0.0,1.0,0.0,0.0,2016,8,10,0,0,0,0,0,0,1
461,2008-04-27,46.077500,0.0,1.0,1.0,0.0,2008,4,27,0,0,0,1,0,0,0
949,2009-11-22,33.557391,1.0,1.0,1.0,1.0,2009,11,22,0,0,0,1,0,0,0
157,2007-06-17,41.352500,1.0,1.0,1.0,1.0,2007,6,17,0,0,0,1,0,0,0
1744,2012-09-28,58.460000,0.0,0.0,0.0,0.0,2012,9,28,1,0,0,0,0,0,0
1640,2012-03-06,19.880000,1.0,1.0,1.0,0.0,2012,3,6,0,0,0,0,0,1,0
2078,2015-10-03,49.313750,0.0,1.0,0.0,0.0,2015,10,3,0,0,1,0,0,0,0
238,2007-09-10,61.580000,0.0,0.0,0.0,0.0,2007,9,10,0,1,0,0,0,0,0
2479,2017-02-13,25.728571,0.0,0.0,0.0,0.0,2017,2,13,0,1,0,0,0,0,0
2344,2016-09-28,51.110000,0.0,1.0,0.0,0.0,2016,9,28,0,0,0,0,0,0,1
1801,2013-01-04,19.940000,0.0,1.0,1.0,0.0,2013,1,4,1,0,0,0,0,0,0
100,2007-04-21,36.635000,0.0,1.0,0.0,1.0,2007,4,21,0,0,1,0,0,0,0
315,2007-11-29,24.503000,1.0,1.0,1.0,0.0,2007,11,29,0,0,0,0,1,0,0
2475,2017-02-09,29.483333,0.0,1.0,1.0,0.0,2017,2,9,0,0,0,0,1,0,0
1334,2011-01-29,33.337143,1.0,1.0,1.0,0.0,2011,1,29,0,0,1,0,0,0,0
978,2009-12-31,33.080000,0.0,1.0,0.0,0.0,2009,12,31,0,0,0,0,1,0,0
2245,2016-06-21,47.315000,1.0,1.0,1.0,0.0,2016,6,21,0,0,0,0,0,1,0
261,2007-10-03,34.640000,1.0,1.0,1.0,1.0,2007,10,3,0,0,0,0,0,0,1
785,2009-05-31,64.021053,0.0,0.0,0.0,0.0,2009,5,31,0,0,0,1,0,0,0
1743,2012-09-27,54.185000,0.0,1.0,0.0,0.0,2012,9,27,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2047,2014-09-10,51.980000,0.0,1.0,0.0,0.0,2014,9,10,0,0,0,0,0,0,1
2558,2017-05-26,55.841667,0.0,1.0,0.0,0.0,2017,5,26,1,0,0,0,0,0,0
1082,2010-04-19,50.960000,0.0,1.0,0.0,1.0,2010,4,19,0,1,0,0,0,0,0
474,2008-05-10,42.380000,1.0,1.0,1.0,0.0,2008,5,10,0,0,1,0,0,0,0
747,2009-04-23,32.099000,1.0,1.0,1.0,0.0,2009,4,23,0,0,0,0,1,0,0
2300,2016-08-15,60.200000,0.0,0.0,0.0,0.0,2016,8,15,0,1,0,0,0,0,0
21,2007-01-31,21.756364,1.0,1.0,1.0,0.0,2007,1,31,0,0,0,0,0,0,1
459,2008-04-25,30.860000,1.0,1.0,1.0,1.0,2008,4,25,1,0,0,0,0,0,0
1184,2010-07-31,54.617391,1.0,1.0,1.0,0.0,2010,7,31,0,0,1,0,0,0,0
2324,2016-09-08,46.715000,1.0,1.0,0.0,1.0,2016,9,8,0,0,0,0,1,0,0
955,2009-11-28,37.317500,1.0,1.0,1.0,0.0,2009,11,28,0,0,1,0,0,0,0
1215,2010-08-31,43.425714,1.0,1.0,1.0,1.0,2010,8,31,0,0,0,0,0,1,0
2433,2016-12-29,27.062500,0.0,1.0,1.0,0.0,2016,12,29,0,0,0,0,1,0,0
2853,2018-03-17,32.316667,1.0,1.0,1.0,0.0,2018,3,17,0,0,1,0,0,0,0
1515,2011-09-18,49.545714,1.0,1.0,1.0,0.0,2011,9,18,0,0,0,1,0,0,0
2391,2016-11-17,30.991667,0.0,1.0,1.0,0.0,2016,11,17,0,0,0,0,1,0,0
769,2009-05-15,46.768571,0.0,1.0,1.0,0.0,2009,5,15,1,0,0,0,0,0,0
1685,2012-07-30,49.235000,0.0,1.0,1.0,0.0,2012,7,30,0,1,0,0,0,0,0
130,2007-05-21,35.405000,1.0,1.0,1.0,1.0,2007,5,21,0,1,0,0,0,0,0
2135,2016-03-03,35.900000,0.0,1.0,0.0,0.0,2016,3,3,0,0,0,0,1,0,0
1482,2011-08-16,54.335000,0.0,0.0,0.0,0.0,2011,8,16,0,0,0,0,0,1,0
330,2007-12-14,27.382609,1.0,1.0,1.0,1.0,2007,12,14,1,0,0,0,0,0,0
1238,2010-09-23,41.945000,1.0,1.0,1.0,0.0,2010,9,23,0,0,0,0,1,0,0
466,2008-05-02,41.286364,0.0,1.0,0.0,0.0,2008,5,2,1,0,0,0,0,0,0
2169,2016-04-06,47.412500,0.0,1.0,0.0,0.0,2016,4,6,0,0,0,0,0,0,1
1638,2012-03-04,33.333636,0.0,1.0,1.0,0.0,2012,3,4,0,0,0,1,0,0,0
1095,2010-05-02,37.125714,1.0,1.0,1.0,1.0,2010,5,2,0,0,0,1,0,0,0
1130,2010-06-07,46.348571,1.0,1.0,1.0,0.0,2010,6,7,0,1,0,0,0,0,0
1294,2010-12-20,22.837143,1.0,1.0,1.0,1.0,2010,12,20,0,1,0,0,0,0,0
860,2009-08-14,44.960000,1.0,1.0,1.0,0.0,2009,8,14,1,0,0,0,0,0,0

In [34]:
pipe = pass_pipeline()

In [35]:
pipe.fit(X_train, y_train)

TypeError: float() argument must be a string or a number, not 'Timestamp'