In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
# %load ../src/weather_data_clean.py
import pandas as pd

def clean_weather_data(filename):
    """Take ASOS weather data file for Stampede pass and clean it ready for input to model.
    Input: txt file
    Output: pandas dataframe
    """
    data = pd.read_csv(filename)

    # Rename two of the columns
    data.rename(columns={'valid':'date', 'tmpf':'temp'}, inplace=True)

    # Remove the few rows that have a null value for temp
    data = data[~data.temp.eq('M')]

    # Remove spaces from column names
    data.rename(columns=lambda x: x.replace(' ', ''), inplace=True)

    # Only use the standard hourly weather reading at 56 mins past each hour
    mask = data['date'].apply(lambda x: x[-2:] == '56')
    data = data[mask]

    # Create a date series to be used in the clean dataframe
    date = pd.to_datetime(data['date'])

    # Create a temp series to be used in the clean dataframe
    temp = data['temp'].apply(float)

    # Cast the null value M to zero to enable create of the raw precipitation series cast to floats
    data.p01i[data.p01i == 'M'] = 0
    raw_precipitation = data['p01i'].apply(float)

    # Create a precipitation series to be used in the clean dataframe
    precipitation = raw_precipitation.apply(lambda x: True if (x > 0) else False)

    # Convert sky coverage data to clear or cloudy and create an overcast series to be used in the clean dataframe
    sky_elements = ['skyc1', 'skyc2', 'skyc3']
    data.skyc1 = data.skyc1.astype(str)
    data.skyc2 = data.skyc2.astype(str)
    data.skyc3 = data.skyc3.astype(str)
    sky_agg = data[sky_elements].values.tolist()
    sky_reduce = [['overcast' if (('BKN' in element) or ('OVC' in element) or ('VV' in element)) else 'clear'
                    for element in row] for row in sky_agg]
    overcast = pd.Series([True if 'overcast' in row else False for row in sky_reduce])
    overcast.index = date.index

    # Cast the null value 'M' to 10.00 to enable the creation of a poor visibility series
    data.vsby[data.vsby == 'M'] = 10.00
    raw_visibility = data['vsby'].apply(float)
    poor_visibility = pd.Series([True if value < 0.50 else False for value in raw_visibility])
    poor_visibility.index = date.index

    # Cast the null value 'M' to 0 to enable the creation of a windy series
    data.sknt[data.sknt == 'M'] = 0.00
    data.gust[data.gust == 'M'] = 0.00
    wind_speed = data['sknt'].apply(float)
    gust_speed = data['gust'].apply(float)
    wind_df = pd.concat([wind_speed, gust_speed], axis=1)
    # Finally apply the function f to enable the creation of the windy column
    windy = wind_df.apply(f, axis=1)

    """Create the cleaned dataframe by concatenating the date, temp, precipitation, overcast, poor_visibility
    and windy series"""
    df = pd.concat([date, temp, precipitation, overcast, poor_visibility, windy], axis=1)
    df.columns = ['date', 'temp', 'precipitation', 'overcast', 'poor_visibility', 'windy']
    cleaned_df = df[(df['date'] > '2006-12-31') & (df['date'] < '2018-04-03')]
    return cleaned_df

def f(row):
    """Function to be able to create the windy series with windy being true if wind speed is above 10 knots
    or gust speed is above 20 knots"""
    if row['sknt'] >= 10.00:
        val = True
    elif row['gust'] >= 20.00:
        val = True
    else:
        val = False
    return val

In [4]:
weather_df = clean_weather_data('ASOS_stampede_pass/SMP-2.txt')

/Users/leanne/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [6]:
# %load ../src/pass_data_clean.py
import pandas as pd

def clean_pass_data(filename):
    """Take Snoqualmie pass closure data file and clean it ready for input to model.
    Input: xlsx file
    Output: Pandas dataframe
    """
    data = pd.read_excel(filename, header=[1])

    #drop unnamed/unnecessary columns
    data.drop(data.columns[[11,12,13,14]], axis=1, inplace=True)

    #drop unnecessary secondary incident columns
    data.drop(data.columns[[1,8]], axis=1, inplace=True)

    #rename 'Incident...' columns to start_time and end_time 
    data.rename(columns={'INCIDENT START TIMES FOR EACH DIRECTION':'start_time'}, inplace=True)
    data.rename(columns={'INCIDENT END TIMES - DIRECTIONAL':'end_time'}, inplace=True)

    #use only dates from 2007-01-01 to match with available weather and traffic volume data
    df = data[(data['start_time'] > '2006-12-31')]

    #rename 'Delay Time Total' to delay
    df.rename(columns={'Delay Time Total':'delay'}, inplace=True)

    #drop row with nan value in delay
    df = df.dropna(subset=['delay'])

    #create a westbound pandas series with True if westbound and false if eastbound
    westbound = pd.Series([True if value == 'WB' else False for value in df.DIRECTION])

    #create a snow pandas series with True if weather description contains sn, false otherwise
    snow = df.WEATHER.str.contains('sn', case=False, na=False, regex=True)

    #create pandas series for start and end times
    start_time = pd.to_datetime(df['start_time'])
    end_time = pd.to_datetime(df['end_time'])

    #ensure that all the pandas series created have the same index
    westbound.index = start_time.index
    snow.index = start_time.index
    end_time.index = start_time.index

    #create cleaned df with the series created
    cleaned_df = pd.concat([start_time, end_time, westbound, snow], axis=1)

    #rename columns
    cleaned_df.rename(columns={0:'westbound', 'WEATHER':'snow'}, inplace=True)

    return cleaned_df

In [14]:
# %load ../src/combine_data.py

pass_closure_df = clean_pass_data('Cumulative_Snoqualmie_Pass_Delay_Closures_1992_2018.xlsx')

def get_pass_closure(date_time):
    """take a date_time and check if it is between the start and end times of a closure event
    input: datetime
    output: boolean
    """
    start_end_times = list(zip(pass_closure_df.start_time, pass_closure_df.end_time))
    for row in start_end_times:
        if row[0] <= date_time <= row[1]:
            return True
    return False

def add_pass_closed(df):
    """take the weather df and add a new column for whether or not the pass is closed at each date_time
    input: pandas dataframe
    output: pandas dataframe
    """
    df['pass_closed'] = df['date'].map(get_pass_closure)
    return df

def true_false_to_one_zero(df):
    """take the combined df and change all the true/false values to 1/0
    input: pandas dataframe
    output: pandas dataframe
    """
    df[['precipitation', 'overcast', 'poor_visibility', 'windy', 'pass_closed']] = (
        df[['precipitation', 'overcast', 'poor_visibility', 'windy', 'pass_closed']] == True).astype(int)
    return df

def aggregate_data_to_daily(df):
    """take the combined df and aggregate the data into daily rather than hourly data to be used to train the model
    input: pandas dataframe
    output: pandas dataframe
    """
    daily_df = df.resample("D").agg({'temp':'mean','precipitation':'max', 'overcast':'max', 'poor_visibility':'max', 'windy':'max', 'pass_closed':'max'})
    daily_df.dropna(inplace=True)
    return daily_df

/Users/leanne/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [9]:
combined_df = add_pass_closed(weather_df)

In [16]:
combined_df = true_false_to_one_zero(combined_df)

In [17]:
combined_df

,date,temp,precipitation,overcast,poor_visibility,windy,pass_closed
0,2006-12-31 23:56:00,23.00,0,1,0,0,0
1,2007-01-01 00:56:00,26.06,0,0,0,0,0
2,2007-01-01 01:56:00,24.98,0,0,0,0,0
3,2007-01-01 02:56:00,24.08,0,0,0,0,0
4,2007-01-01 03:56:00,24.08,0,0,0,0,0
5,2007-01-01 05:56:00,19.94,0,1,1,0,0
6,2007-01-01 10:56:00,19.94,1,1,0,0,0
7,2007-01-01 11:56:00,19.04,1,1,0,0,0
8,2007-01-01 12:56:00,19.94,1,1,0,0,0
9,2007-01-01 13:56:00,21.02,1,1,0,0,0
10,2007-01-01 15:56:00,28.94,1,1,0,0,0
11,2007-01-01 16:56:00,32.00,1,1,0,0,0
12,2007-01-01 19:56:00,35.06,1,1,1,0,0
13,2007-01-01 20:56:00,32.00,0,1,0,0,0
14,2007-01-01 21:56:00,41.00,0,1,0,0,0
15,2007-01-01 22:56:00,42.98,1,1,0,1,0
16,2007-01-01 23:56:00,41.00,1,1,0,0,0
17,2007-01-02 00:56:00,39.92,1,1,0,0,0
18,2007-01-02 01:56:00,39.92,1,1,0,0,0
19,2007-01-02 02:56:00,42.98,1,1,0,0,0
20,2007-01-02 03:56:00,42.98,1,1,0,0,0
21,2007-01-02 04:56:00,44.96,1,1,0,0,0
22,2007-01-02 05:56:00,46.94,1,1,0,0,0
23,2007-01-02 06:56:00,48.02,0,0,0,1,0
24,2007-01-02 07:56:00,46.94,0,1,0,1,0
25,2007-01-02 08:56:00,46.04,0,1,0,0,0
26,2007-01-02 09:56:00,46.94,0,1,0,0,0
27,2007-01-02 10:56:00,48.92,0,1,0,0,0
28,2007-01-02 11:56:00,46.04,1,1,0,0,0
29,2007-01-02 12:56:00,42.98,1,1,0,1,0
...,...,...,...,...,...,...,...
105403,2018-04-01 17:56:00,28.00,1,1,0,1,0
105411,2018-04-01 18:56:00,26.10,0,1,0,1,0
105418,2018-04-01 19:56:00,26.10,1,1,0,0,0
105426,2018-04-01 20:56:00,25.00,1,1,0,1,0
105434,2018-04-01 21:56:00,25.00,1,1,0,0,0
105440,2018-04-01 22:56:00,24.10,1,1,0,1,1
105447,2018-04-01 23:56:00,24.10,1,1,0,0,1
105452,2018-04-02 00:56:00,23.00,1,1,0,1,1
105460,2018-04-02 01:56:00,23.00,1,1,0,0,1
105464,2018-04-02 02:56:00,23.00,1,1,0,0,1
105485,2018-04-02 04:56:00,23.00,1,1,0,0,1
105495,2018-04-02 05:56:00,23.00,1,1,0,0,1
105503,2018-04-02 06:56:00,24.10,1,1,0,0,1
105507,2018-04-02 07:56:00,24.10,1,1,0,0,1
105512,2018-04-02 08:56:00,25.00,1,1,0,0,0
105520,2018-04-02 09:56:00,26.10,1,1,0,0,0
105526,2018-04-02 10:56:00,26.10,0,1,0,0,0
105527,2018-04-02 11:56:00,28.00,0,1,0,0,0
105529,2018-04-02 12:56:00,28.90,0,1,0,0,0
105532,2018-04-02 13:56:00,28.90,0,1,0,0,0
105536,2018-04-02 14:56:00,32.00,0,1,0,0,0
105540,2018-04-02 15:56:00,30.00,1,1,0,0,0
105544,2018-04-02 16:56:00,32.00,0,1,0,0,0
105551,2018-04-02 17:56:00,28.90,0,1,0,0,0
105559,2018-04-02 18:56:00,28.90,1,1,0,1,0
105569,2018-04-02 19:56:00,28.90,1,1,0,0,0
105573,2018-04-02 20:56:00,28.00,1,1,0,0,0
105579,2018-04-02 21:56:00,27.00,0,1,0,0,0
105581,2018-04-02 22:56:00,26.10,0,1,0,0,0
105582,2018-04-02 23:56:00,26.10,0,1,0,0,0

In [18]:
daily_df = aggregate_data_to_daily(combined_df)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'