In [1]:
import datetime
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, log_loss
import numpy as np

In [3]:
# %load ../src/weather_data_clean.py
import pandas as pd

def clean_weather_data(filename):
    """Take ASOS weather data file for Stampede pass and clean it ready for input to model.
    Input: txt file
    Output: pandas dataframe
    """
    data = pd.read_csv(filename)

    # Rename two of the columns
    data.rename(columns={'valid':'date', 'tmpf':'temp'}, inplace=True)

    # Remove the few rows that have a null value for temp
    data = data[~data.temp.eq('M')]

    # Remove spaces from column names
    data.rename(columns=lambda x: x.replace(' ', ''), inplace=True)

    # Only use the standard hourly weather reading at 56 mins past each hour
    mask = data['date'].apply(lambda x: x[-2:] == '56')
    data = data[mask]

    # Create a date series to be used in the clean dataframe
    date = pd.to_datetime(data['date'])

    # Create a temp series to be used in the clean dataframe
    temp = data['temp'].apply(float)

    # Cast the null value M to zero to enable create of the raw precipitation series cast to floats
    data.p01i[data.p01i == 'M'] = 0
    raw_precipitation = data['p01i'].apply(float)

    # Create a precipitation series to be used in the clean dataframe
    precipitation = raw_precipitation.apply(lambda x: True if (x > 0) else False)

    # Convert sky coverage data to clear or cloudy and create an overcast series to be used in the clean dataframe
    sky_elements = ['skyc1', 'skyc2', 'skyc3']
    data.skyc1 = data.skyc1.astype(str)
    data.skyc2 = data.skyc2.astype(str)
    data.skyc3 = data.skyc3.astype(str)
    sky_agg = data[sky_elements].values.tolist()
    sky_reduce = [['overcast' if (('BKN' in element) or ('OVC' in element) or ('VV' in element)) else 'clear'
                    for element in row] for row in sky_agg]
    overcast = pd.Series([True if 'overcast' in row else False for row in sky_reduce])
    overcast.index = date.index

    # Cast the null value 'M' to 10.00 to enable the creation of a poor visibility series
    data.vsby[data.vsby == 'M'] = 10.00
    raw_visibility = data['vsby'].apply(float)
    poor_visibility = pd.Series([True if value < 0.50 else False for value in raw_visibility])
    poor_visibility.index = date.index

    # Cast the null value 'M' to 0 to enable the creation of a windy series
    data.sknt[data.sknt == 'M'] = 0.00
    data.gust[data.gust == 'M'] = 0.00
    wind_speed = data['sknt'].apply(float)
    gust_speed = data['gust'].apply(float)
    wind_df = pd.concat([wind_speed, gust_speed], axis=1)
    # Finally apply the function f to enable the creation of the windy column
    windy = wind_df.apply(f, axis=1)

    """Create the cleaned dataframe by concatenating the date, temp, precipitation, overcast, poor_visibility
    and windy series"""
    df = pd.concat([date, temp, precipitation, overcast, poor_visibility, windy], axis=1)
    df.columns = ['date', 'temp', 'precipitation', 'overcast', 'poor_visibility', 'windy']
    cleaned_df = df[(df['date'] > '2006-12-31') & (df['date'] < '2018-04-03')]
    return cleaned_df

def f(row):
    """Function to be able to create the windy series with windy being true if wind speed is above 10 knots
    or gust speed is above 20 knots"""
    if row['sknt'] >= 10.00:
        val = True
    elif row['gust'] >= 20.00:
        val = True
    else:
        val = False
    return val

In [4]:
weather_df = clean_weather_data('ASOS_stampede_pass/SMP-2.txt')

/Users/leanne/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [6]:
# %load ../src/pass_data_clean.py
import pandas as pd

def clean_pass_data(filename):
    """Take Snoqualmie pass closure data file and clean it ready for input to model.
    Input: xlsx file
    Output: Pandas dataframe
    """
    data = pd.read_excel(filename, header=[1])

    #drop unnamed/unnecessary columns
    data.drop(data.columns[[11,12,13,14]], axis=1, inplace=True)

    #drop unnecessary secondary incident columns
    data.drop(data.columns[[1,8]], axis=1, inplace=True)

    #rename 'Incident...' columns to start_time and end_time 
    data.rename(columns={'INCIDENT START TIMES FOR EACH DIRECTION':'start_time'}, inplace=True)
    data.rename(columns={'INCIDENT END TIMES - DIRECTIONAL':'end_time'}, inplace=True)

    #use only dates from 2007-01-01 to match with available weather and traffic volume data
    df = data[(data['start_time'] > '2006-12-31')]

    #rename 'Delay Time Total' to delay
    df.rename(columns={'Delay Time Total':'delay'}, inplace=True)

    #drop row with nan value in delay
    df = df.dropna(subset=['delay'])

    #create a westbound pandas series with True if westbound and false if eastbound
    westbound = pd.Series([True if value == 'WB' else False for value in df.DIRECTION])

    #create a snow pandas series with True if weather description contains sn, false otherwise
    snow = df.WEATHER.str.contains('sn', case=False, na=False, regex=True)

    #create pandas series for start and end times
    start_time = pd.to_datetime(df['start_time'])
    end_time = pd.to_datetime(df['end_time'])

    #ensure that all the pandas series created have the same index
    westbound.index = start_time.index
    snow.index = start_time.index
    end_time.index = start_time.index

    #create cleaned df with the series created
    cleaned_df = pd.concat([start_time, end_time, westbound, snow], axis=1)

    #rename columns
    cleaned_df.rename(columns={0:'westbound', 'WEATHER':'snow'}, inplace=True)

    return cleaned_df

In [9]:
# %load ../src/combine_data.py

pass_closure_df = clean_pass_data('Cumulative_Snoqualmie_Pass_Delay_Closures_1992_2018.xlsx')

def get_pass_closure(date_time):
    """take a date_time and check if it is between the start and end times of a closure event
    input: datetime
    output: boolean
    """
    start_end_times = list(zip(pass_closure_df.start_time, pass_closure_df.end_time))
    for row in start_end_times:
        if row[0] <= date_time <= row[1]:
            return True
    return False

def add_pass_closed(df):
    """take the weather df and add a new column for whether or not the pass is closed at each date_time
    input: pandas dataframe
    output:pandas dataframe
    """
    df['pass_closed'] = df['date'].map(get_pass_closure)
    return df

/Users/leanne/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [10]:
combined_df = add_pass_closed(weather_df)

In [11]:
combined_df.index = combined_df.date

In [61]:
combined_df

,date,temp,precipitation,overcast,poor_visibility,windy,pass_closed
date,,,,,,,
2006-12-31 23:56:00,2006-12-31 23:56:00,23.00,False,True,False,False,False
2007-01-01 00:56:00,2007-01-01 00:56:00,26.06,False,False,False,False,False
2007-01-01 01:56:00,2007-01-01 01:56:00,24.98,False,False,False,False,False
2007-01-01 02:56:00,2007-01-01 02:56:00,24.08,False,False,False,False,False
2007-01-01 03:56:00,2007-01-01 03:56:00,24.08,False,False,False,False,False
2007-01-01 05:56:00,2007-01-01 05:56:00,19.94,False,True,True,False,False
2007-01-01 10:56:00,2007-01-01 10:56:00,19.94,True,True,False,False,False
2007-01-01 11:56:00,2007-01-01 11:56:00,19.04,True,True,False,False,False
2007-01-01 12:56:00,2007-01-01 12:56:00,19.94,True,True,False,False,False
2007-01-01 13:56:00,2007-01-01 13:56:00,21.02,True,True,False,False,False
2007-01-01 15:56:00,2007-01-01 15:56:00,28.94,True,True,False,False,False
2007-01-01 16:56:00,2007-01-01 16:56:00,32.00,True,True,False,False,False
2007-01-01 19:56:00,2007-01-01 19:56:00,35.06,True,True,True,False,False
2007-01-01 20:56:00,2007-01-01 20:56:00,32.00,False,True,False,False,False
2007-01-01 21:56:00,2007-01-01 21:56:00,41.00,False,True,False,False,False
2007-01-01 22:56:00,2007-01-01 22:56:00,42.98,True,True,False,True,False
2007-01-01 23:56:00,2007-01-01 23:56:00,41.00,True,True,False,False,False
2007-01-02 00:56:00,2007-01-02 00:56:00,39.92,True,True,False,False,False
2007-01-02 01:56:00,2007-01-02 01:56:00,39.92,True,True,False,False,False
2007-01-02 02:56:00,2007-01-02 02:56:00,42.98,True,True,False,False,False
2007-01-02 03:56:00,2007-01-02 03:56:00,42.98,True,True,False,False,False
2007-01-02 04:56:00,2007-01-02 04:56:00,44.96,True,True,False,False,False
2007-01-02 05:56:00,2007-01-02 05:56:00,46.94,True,True,False,False,False
2007-01-02 06:56:00,2007-01-02 06:56:00,48.02,False,False,False,True,False
2007-01-02 07:56:00,2007-01-02 07:56:00,46.94,False,True,False,True,False
2007-01-02 08:56:00,2007-01-02 08:56:00,46.04,False,True,False,False,False
2007-01-02 09:56:00,2007-01-02 09:56:00,46.94,False,True,False,False,False
2007-01-02 10:56:00,2007-01-02 10:56:00,48.92,False,True,False,False,False
2007-01-02 11:56:00,2007-01-02 11:56:00,46.04,True,True,False,False,False
2007-01-02 12:56:00,2007-01-02 12:56:00,42.98,True,True,False,True,False
...,...,...,...,...,...,...,...
2018-04-01 17:56:00,2018-04-01 17:56:00,28.00,True,True,False,True,False
2018-04-01 18:56:00,2018-04-01 18:56:00,26.10,False,True,False,True,False
2018-04-01 19:56:00,2018-04-01 19:56:00,26.10,True,True,False,False,False
2018-04-01 20:56:00,2018-04-01 20:56:00,25.00,True,True,False,True,False
2018-04-01 21:56:00,2018-04-01 21:56:00,25.00,True,True,False,False,False
2018-04-01 22:56:00,2018-04-01 22:56:00,24.10,True,True,False,True,True
2018-04-01 23:56:00,2018-04-01 23:56:00,24.10,True,True,False,False,True
2018-04-02 00:56:00,2018-04-02 00:56:00,23.00,True,True,False,True,True
2018-04-02 01:56:00,2018-04-02 01:56:00,23.00,True,True,False,False,True
2018-04-02 02:56:00,2018-04-02 02:56:00,23.00,True,True,False,False,True
2018-04-02 04:56:00,2018-04-02 04:56:00,23.00,True,True,False,False,True
2018-04-02 05:56:00,2018-04-02 05:56:00,23.00,True,True,False,False,True
2018-04-02 06:56:00,2018-04-02 06:56:00,24.10,True,True,False,False,True
2018-04-02 07:56:00,2018-04-02 07:56:00,24.10,True,True,False,False,True
2018-04-02 08:56:00,2018-04-02 08:56:00,25.00,True,True,False,False,False
2018-04-02 09:56:00,2018-04-02 09:56:00,26.10,True,True,False,False,False
2018-04-02 10:56:00,2018-04-02 10:56:00,26.10,False,True,False,False,False
2018-04-02 11:56:00,2018-04-02 11:56:00,28.00,False,True,False,False,False
2018-04-02 12:56:00,2018-04-02 12:56:00,28.90,False,True,False,False,False
2018-04-02 13:56:00,2018-04-02 13:56:00,28.90,False,True,False,False,False
2018-04-02 14:56:00,2018-04-02 14:56:00,32.00,False,True,False,False,False
2018-04-02 15:56:00,2018-04-02 15:56:00,30.00,True,True,False,False,False
2018-04-02 16:56:00,2018-04-02 16:56:00,32.00,False,True,False,False,False
2018-04-02 17:56:00,2018-04-02 17:56:00,28.90,False,True,False,False,False
2018-04-02 18:56:00,2018-04-02 18:56:00,28.90,True,True,False,True,False
2018-04-02 19:56:00,2018-04-02 19:56:00,28.90,True,True,False,False,False
2018-04-02 20:56:00,2018-04-02 20:56:00,28.00,True,True,False,False,False
2018-04-02 21:56:00,2018-04-02 21:56:00,27.00,False,True,False,False,False
2018-04-02 22:56:00,2018-04-02 22:56:00,26.10,False,True,False,False,False
2018-04-02 23:56:00,2018-04-02 23:56:00,26.10,False,True,False,False,False

In [12]:
daily_df = combined_df.resample("D").agg({'temp':'mean','precipitation':'max', 'overcast':'max', 'poor_visibility':'max', 'windy':'max', 'pass_closed':'max'})

In [13]:
daily_df.dropna(inplace=True)

In [62]:
daily_df

,temp,precipitation,overcast,poor_visibility,windy,pass_closed
date,,,,,,
2006-12-31,23.000000,0.0,1.0,0.0,0.0,0.0
2007-01-01,28.253750,1.0,1.0,1.0,1.0,0.0
2007-01-02,41.735000,1.0,1.0,1.0,1.0,1.0
2007-01-03,32.993913,1.0,1.0,1.0,1.0,0.0
2007-01-04,26.682500,1.0,1.0,1.0,1.0,0.0
2007-01-05,32.030000,1.0,1.0,1.0,1.0,0.0
2007-01-06,28.385000,1.0,1.0,0.0,1.0,1.0
2007-01-07,34.310000,1.0,1.0,1.0,1.0,1.0
2007-01-08,32.922500,1.0,1.0,1.0,1.0,0.0
2007-01-09,35.971250,1.0,1.0,1.0,1.0,0.0
2007-01-10,21.002000,1.0,1.0,1.0,1.0,0.0
2007-01-11,16.862857,1.0,1.0,0.0,0.0,0.0
2007-01-12,11.705000,0.0,0.0,0.0,0.0,0.0
2007-01-23,41.000000,0.0,1.0,0.0,0.0,0.0
2007-01-24,32.258750,0.0,0.0,0.0,1.0,0.0
2007-01-25,32.502105,0.0,1.0,1.0,0.0,0.0
2007-01-26,31.257500,0.0,0.0,0.0,0.0,0.0
2007-01-27,25.796000,0.0,0.0,0.0,0.0,0.0
2007-01-28,22.130000,0.0,1.0,1.0,0.0,0.0
2007-01-29,25.085000,0.0,1.0,0.0,0.0,0.0
2007-01-30,21.280000,0.0,1.0,1.0,0.0,0.0
2007-01-31,21.756364,1.0,1.0,1.0,0.0,1.0
2007-02-01,24.350000,0.0,0.0,0.0,0.0,0.0
2007-02-02,39.560000,0.0,0.0,0.0,0.0,0.0
2007-02-03,31.199000,1.0,1.0,1.0,0.0,0.0
2007-02-04,43.311579,1.0,1.0,1.0,0.0,0.0
2007-02-05,41.384545,0.0,1.0,0.0,0.0,0.0
2007-02-06,41.696522,1.0,1.0,1.0,0.0,0.0
2007-02-07,31.032500,1.0,1.0,1.0,0.0,0.0
2007-02-08,34.057143,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...
2018-03-04,28.766667,1.0,1.0,0.0,1.0,1.0
2018-03-05,27.541667,1.0,1.0,1.0,0.0,0.0
2018-03-06,30.052174,0.0,1.0,0.0,0.0,0.0
2018-03-07,29.075000,1.0,1.0,0.0,0.0,0.0
2018-03-08,31.991304,1.0,1.0,1.0,1.0,0.0
2018-03-09,29.066667,1.0,1.0,0.0,1.0,0.0
2018-03-10,30.362500,0.0,1.0,0.0,0.0,0.0
2018-03-11,34.769565,0.0,1.0,0.0,0.0,0.0
2018-03-12,39.229167,0.0,0.0,0.0,0.0,0.0
2018-03-13,38.916667,1.0,1.0,1.0,0.0,0.0
2018-03-14,31.534783,1.0,1.0,1.0,0.0,0.0
2018-03-15,32.260000,0.0,1.0,0.0,0.0,0.0
2018-03-16,34.595833,1.0,1.0,0.0,0.0,0.0
2018-03-17,32.316667,1.0,1.0,1.0,0.0,0.0
2018-03-18,31.745833,0.0,1.0,1.0,0.0,0.0
2018-03-19,31.941667,0.0,1.0,1.0,0.0,0.0
2018-03-20,34.887500,0.0,0.0,0.0,0.0,0.0
2018-03-21,35.829167,1.0,1.0,0.0,0.0,0.0
2018-03-22,30.775000,1.0,1.0,1.0,1.0,0.0
2018-03-23,27.695833,1.0,1.0,0.0,0.0,0.0
2018-03-24,27.569565,1.0,1.0,1.0,0.0,0.0
2018-03-25,27.666667,1.0,1.0,1.0,0.0,0.0
2018-03-26,29.970833,1.0,1.0,1.0,1.0,0.0
2018-03-27,34.841667,1.0,1.0,0.0,1.0,0.0
2018-03-28,31.362500,1.0,1.0,1.0,1.0,0.0
2018-03-29,34.483333,1.0,1.0,1.0,1.0,0.0
2018-03-30,35.004167,1.0,1.0,1.0,1.0,0.0
2018-03-31,37.562500,0.0,1.0,1.0,0.0,0.0
2018-04-01,29.062500,1.0,1.0,1.0,1.0,1.0
2018-04-02,26.700000,1.0,1.0,0.0,1.0,1.0

In [14]:
X_train, X_test, y_train, y_test = train_test_split(daily_df.drop('pass_closed',axis=1), 
                                                    daily_df['pass_closed'], test_size=0.30, 
                                                    random_state=101)

In [15]:
logmodel = LogisticRegression()

In [16]:
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [17]:
probs = logmodel.predict_proba(X_test)

In [18]:
probs

array([[0.78983845, 0.21016155],
       [0.85199739, 0.14800261],
       [0.89424573, 0.10575427],
       ...,
       [0.91618622, 0.08381378],
       [0.91460226, 0.08539774],
       [0.92984509, 0.07015491]])

In [19]:
probs[:,1].max()

0.3694426270973859

In [20]:
probs[:,1].min()

0.022531650755139018

In [21]:
probs[:,1].mean()

0.10423754443303634

In [22]:
model_log_loss = log_loss(y_test, probs)

In [23]:
model_log_loss

0.33518362780167477

In [26]:
daily2_df = daily_df.copy()

In [27]:
daily2_df['month'] = daily2_df.index.month

In [28]:
daily2_df

,temp,precipitation,overcast,poor_visibility,windy,pass_closed,month
date,,,,,,,
2006-12-31,23.000000,0.0,1.0,0.0,0.0,0.0,12
2007-01-01,28.253750,1.0,1.0,1.0,1.0,0.0,1
2007-01-02,41.735000,1.0,1.0,1.0,1.0,1.0,1
2007-01-03,32.993913,1.0,1.0,1.0,1.0,0.0,1
2007-01-04,26.682500,1.0,1.0,1.0,1.0,0.0,1
2007-01-05,32.030000,1.0,1.0,1.0,1.0,0.0,1
2007-01-06,28.385000,1.0,1.0,0.0,1.0,1.0,1
2007-01-07,34.310000,1.0,1.0,1.0,1.0,1.0,1
2007-01-08,32.922500,1.0,1.0,1.0,1.0,0.0,1
2007-01-09,35.971250,1.0,1.0,1.0,1.0,0.0,1
2007-01-10,21.002000,1.0,1.0,1.0,1.0,0.0,1
2007-01-11,16.862857,1.0,1.0,0.0,0.0,0.0,1
2007-01-12,11.705000,0.0,0.0,0.0,0.0,0.0,1
2007-01-23,41.000000,0.0,1.0,0.0,0.0,0.0,1
2007-01-24,32.258750,0.0,0.0,0.0,1.0,0.0,1
2007-01-25,32.502105,0.0,1.0,1.0,0.0,0.0,1
2007-01-26,31.257500,0.0,0.0,0.0,0.0,0.0,1
2007-01-27,25.796000,0.0,0.0,0.0,0.0,0.0,1
2007-01-28,22.130000,0.0,1.0,1.0,0.0,0.0,1
2007-01-29,25.085000,0.0,1.0,0.0,0.0,0.0,1
2007-01-30,21.280000,0.0,1.0,1.0,0.0,0.0,1
2007-01-31,21.756364,1.0,1.0,1.0,0.0,1.0,1
2007-02-01,24.350000,0.0,0.0,0.0,0.0,0.0,2
2007-02-02,39.560000,0.0,0.0,0.0,0.0,0.0,2
2007-02-03,31.199000,1.0,1.0,1.0,0.0,0.0,2
2007-02-04,43.311579,1.0,1.0,1.0,0.0,0.0,2
2007-02-05,41.384545,0.0,1.0,0.0,0.0,0.0,2
2007-02-06,41.696522,1.0,1.0,1.0,0.0,0.0,2
2007-02-07,31.032500,1.0,1.0,1.0,0.0,0.0,2
2007-02-08,34.057143,1.0,1.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...
2018-03-04,28.766667,1.0,1.0,0.0,1.0,1.0,3
2018-03-05,27.541667,1.0,1.0,1.0,0.0,0.0,3
2018-03-06,30.052174,0.0,1.0,0.0,0.0,0.0,3
2018-03-07,29.075000,1.0,1.0,0.0,0.0,0.0,3
2018-03-08,31.991304,1.0,1.0,1.0,1.0,0.0,3
2018-03-09,29.066667,1.0,1.0,0.0,1.0,0.0,3
2018-03-10,30.362500,0.0,1.0,0.0,0.0,0.0,3
2018-03-11,34.769565,0.0,1.0,0.0,0.0,0.0,3
2018-03-12,39.229167,0.0,0.0,0.0,0.0,0.0,3
2018-03-13,38.916667,1.0,1.0,1.0,0.0,0.0,3
2018-03-14,31.534783,1.0,1.0,1.0,0.0,0.0,3
2018-03-15,32.260000,0.0,1.0,0.0,0.0,0.0,3
2018-03-16,34.595833,1.0,1.0,0.0,0.0,0.0,3
2018-03-17,32.316667,1.0,1.0,1.0,0.0,0.0,3
2018-03-18,31.745833,0.0,1.0,1.0,0.0,0.0,3
2018-03-19,31.941667,0.0,1.0,1.0,0.0,0.0,3
2018-03-20,34.887500,0.0,0.0,0.0,0.0,0.0,3
2018-03-21,35.829167,1.0,1.0,0.0,0.0,0.0,3
2018-03-22,30.775000,1.0,1.0,1.0,1.0,0.0,3
2018-03-23,27.695833,1.0,1.0,0.0,0.0,0.0,3
2018-03-24,27.569565,1.0,1.0,1.0,0.0,0.0,3
2018-03-25,27.666667,1.0,1.0,1.0,0.0,0.0,3
2018-03-26,29.970833,1.0,1.0,1.0,1.0,0.0,3
2018-03-27,34.841667,1.0,1.0,0.0,1.0,0.0,3
2018-03-28,31.362500,1.0,1.0,1.0,1.0,0.0,3
2018-03-29,34.483333,1.0,1.0,1.0,1.0,0.0,3
2018-03-30,35.004167,1.0,1.0,1.0,1.0,0.0,3
2018-03-31,37.562500,0.0,1.0,1.0,0.0,0.0,3
2018-04-01,29.062500,1.0,1.0,1.0,1.0,1.0,4
2018-04-02,26.700000,1.0,1.0,0.0,1.0,1.0,4

In [29]:
daily2_df['dayofweek'] = daily2_df.index.dayofweek

In [30]:
daily2_df

,temp,precipitation,overcast,poor_visibility,windy,pass_closed,month,dayofweek
date,,,,,,,,
2006-12-31,23.000000,0.0,1.0,0.0,0.0,0.0,12,6
2007-01-01,28.253750,1.0,1.0,1.0,1.0,0.0,1,0
2007-01-02,41.735000,1.0,1.0,1.0,1.0,1.0,1,1
2007-01-03,32.993913,1.0,1.0,1.0,1.0,0.0,1,2
2007-01-04,26.682500,1.0,1.0,1.0,1.0,0.0,1,3
2007-01-05,32.030000,1.0,1.0,1.0,1.0,0.0,1,4
2007-01-06,28.385000,1.0,1.0,0.0,1.0,1.0,1,5
2007-01-07,34.310000,1.0,1.0,1.0,1.0,1.0,1,6
2007-01-08,32.922500,1.0,1.0,1.0,1.0,0.0,1,0
2007-01-09,35.971250,1.0,1.0,1.0,1.0,0.0,1,1
2007-01-10,21.002000,1.0,1.0,1.0,1.0,0.0,1,2
2007-01-11,16.862857,1.0,1.0,0.0,0.0,0.0,1,3
2007-01-12,11.705000,0.0,0.0,0.0,0.0,0.0,1,4
2007-01-23,41.000000,0.0,1.0,0.0,0.0,0.0,1,1
2007-01-24,32.258750,0.0,0.0,0.0,1.0,0.0,1,2
2007-01-25,32.502105,0.0,1.0,1.0,0.0,0.0,1,3
2007-01-26,31.257500,0.0,0.0,0.0,0.0,0.0,1,4
2007-01-27,25.796000,0.0,0.0,0.0,0.0,0.0,1,5
2007-01-28,22.130000,0.0,1.0,1.0,0.0,0.0,1,6
2007-01-29,25.085000,0.0,1.0,0.0,0.0,0.0,1,0
2007-01-30,21.280000,0.0,1.0,1.0,0.0,0.0,1,1
2007-01-31,21.756364,1.0,1.0,1.0,0.0,1.0,1,2
2007-02-01,24.350000,0.0,0.0,0.0,0.0,0.0,2,3
2007-02-02,39.560000,0.0,0.0,0.0,0.0,0.0,2,4
2007-02-03,31.199000,1.0,1.0,1.0,0.0,0.0,2,5
2007-02-04,43.311579,1.0,1.0,1.0,0.0,0.0,2,6
2007-02-05,41.384545,0.0,1.0,0.0,0.0,0.0,2,0
2007-02-06,41.696522,1.0,1.0,1.0,0.0,0.0,2,1
2007-02-07,31.032500,1.0,1.0,1.0,0.0,0.0,2,2
2007-02-08,34.057143,1.0,1.0,1.0,0.0,0.0,2,3
...,...,...,...,...,...,...,...,...
2018-03-04,28.766667,1.0,1.0,0.0,1.0,1.0,3,6
2018-03-05,27.541667,1.0,1.0,1.0,0.0,0.0,3,0
2018-03-06,30.052174,0.0,1.0,0.0,0.0,0.0,3,1
2018-03-07,29.075000,1.0,1.0,0.0,0.0,0.0,3,2
2018-03-08,31.991304,1.0,1.0,1.0,1.0,0.0,3,3
2018-03-09,29.066667,1.0,1.0,0.0,1.0,0.0,3,4
2018-03-10,30.362500,0.0,1.0,0.0,0.0,0.0,3,5
2018-03-11,34.769565,0.0,1.0,0.0,0.0,0.0,3,6
2018-03-12,39.229167,0.0,0.0,0.0,0.0,0.0,3,0
2018-03-13,38.916667,1.0,1.0,1.0,0.0,0.0,3,1
2018-03-14,31.534783,1.0,1.0,1.0,0.0,0.0,3,2
2018-03-15,32.260000,0.0,1.0,0.0,0.0,0.0,3,3
2018-03-16,34.595833,1.0,1.0,0.0,0.0,0.0,3,4
2018-03-17,32.316667,1.0,1.0,1.0,0.0,0.0,3,5
2018-03-18,31.745833,0.0,1.0,1.0,0.0,0.0,3,6
2018-03-19,31.941667,0.0,1.0,1.0,0.0,0.0,3,0
2018-03-20,34.887500,0.0,0.0,0.0,0.0,0.0,3,1
2018-03-21,35.829167,1.0,1.0,0.0,0.0,0.0,3,2
2018-03-22,30.775000,1.0,1.0,1.0,1.0,0.0,3,3
2018-03-23,27.695833,1.0,1.0,0.0,0.0,0.0,3,4
2018-03-24,27.569565,1.0,1.0,1.0,0.0,0.0,3,5
2018-03-25,27.666667,1.0,1.0,1.0,0.0,0.0,3,6
2018-03-26,29.970833,1.0,1.0,1.0,1.0,0.0,3,0
2018-03-27,34.841667,1.0,1.0,0.0,1.0,0.0,3,1
2018-03-28,31.362500,1.0,1.0,1.0,1.0,0.0,3,2
2018-03-29,34.483333,1.0,1.0,1.0,1.0,0.0,3,3
2018-03-30,35.004167,1.0,1.0,1.0,1.0,0.0,3,4
2018-03-31,37.562500,0.0,1.0,1.0,0.0,0.0,3,5
2018-04-01,29.062500,1.0,1.0,1.0,1.0,1.0,4,6
2018-04-02,26.700000,1.0,1.0,0.0,1.0,1.0,4,0

In [31]:
X_train, X_test, y_train, y_test = train_test_split(daily2_df.drop('pass_closed',axis=1), 
                                                    daily2_df['pass_closed'], test_size=0.30, 
                                                    random_state=101)

In [33]:
logmodel2 = LogisticRegression()

In [34]:
logmodel2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
probs2 = logmodel2.predict_proba(X_test)

In [36]:
probs2[:,1].max()

0.3660134410595802

In [37]:
probs2[:,1].min()

0.022785057141972025

In [38]:
probs2[:,1].mean()

0.10435951209318296

In [39]:
model2_log_loss = log_loss(y_test, probs2)

In [40]:
model2_log_loss

0.33536872142566787

In [41]:
summer_months = [5,6,7,8,9,10]
daily3_df = daily2_df[~daily2_df.month.isin(summer_months)]

In [42]:
daily3_df

,temp,precipitation,overcast,poor_visibility,windy,pass_closed,month,dayofweek
date,,,,,,,,
2006-12-31,23.000000,0.0,1.0,0.0,0.0,0.0,12,6
2007-01-01,28.253750,1.0,1.0,1.0,1.0,0.0,1,0
2007-01-02,41.735000,1.0,1.0,1.0,1.0,1.0,1,1
2007-01-03,32.993913,1.0,1.0,1.0,1.0,0.0,1,2
2007-01-04,26.682500,1.0,1.0,1.0,1.0,0.0,1,3
2007-01-05,32.030000,1.0,1.0,1.0,1.0,0.0,1,4
2007-01-06,28.385000,1.0,1.0,0.0,1.0,1.0,1,5
2007-01-07,34.310000,1.0,1.0,1.0,1.0,1.0,1,6
2007-01-08,32.922500,1.0,1.0,1.0,1.0,0.0,1,0
2007-01-09,35.971250,1.0,1.0,1.0,1.0,0.0,1,1
2007-01-10,21.002000,1.0,1.0,1.0,1.0,0.0,1,2
2007-01-11,16.862857,1.0,1.0,0.0,0.0,0.0,1,3
2007-01-12,11.705000,0.0,0.0,0.0,0.0,0.0,1,4
2007-01-23,41.000000,0.0,1.0,0.0,0.0,0.0,1,1
2007-01-24,32.258750,0.0,0.0,0.0,1.0,0.0,1,2
2007-01-25,32.502105,0.0,1.0,1.0,0.0,0.0,1,3
2007-01-26,31.257500,0.0,0.0,0.0,0.0,0.0,1,4
2007-01-27,25.796000,0.0,0.0,0.0,0.0,0.0,1,5
2007-01-28,22.130000,0.0,1.0,1.0,0.0,0.0,1,6
2007-01-29,25.085000,0.0,1.0,0.0,0.0,0.0,1,0
2007-01-30,21.280000,0.0,1.0,1.0,0.0,0.0,1,1
2007-01-31,21.756364,1.0,1.0,1.0,0.0,1.0,1,2
2007-02-01,24.350000,0.0,0.0,0.0,0.0,0.0,2,3
2007-02-02,39.560000,0.0,0.0,0.0,0.0,0.0,2,4
2007-02-03,31.199000,1.0,1.0,1.0,0.0,0.0,2,5
2007-02-04,43.311579,1.0,1.0,1.0,0.0,0.0,2,6
2007-02-05,41.384545,0.0,1.0,0.0,0.0,0.0,2,0
2007-02-06,41.696522,1.0,1.0,1.0,0.0,0.0,2,1
2007-02-07,31.032500,1.0,1.0,1.0,0.0,0.0,2,2
2007-02-08,34.057143,1.0,1.0,1.0,0.0,0.0,2,3
...,...,...,...,...,...,...,...,...
2018-03-04,28.766667,1.0,1.0,0.0,1.0,1.0,3,6
2018-03-05,27.541667,1.0,1.0,1.0,0.0,0.0,3,0
2018-03-06,30.052174,0.0,1.0,0.0,0.0,0.0,3,1
2018-03-07,29.075000,1.0,1.0,0.0,0.0,0.0,3,2
2018-03-08,31.991304,1.0,1.0,1.0,1.0,0.0,3,3
2018-03-09,29.066667,1.0,1.0,0.0,1.0,0.0,3,4
2018-03-10,30.362500,0.0,1.0,0.0,0.0,0.0,3,5
2018-03-11,34.769565,0.0,1.0,0.0,0.0,0.0,3,6
2018-03-12,39.229167,0.0,0.0,0.0,0.0,0.0,3,0
2018-03-13,38.916667,1.0,1.0,1.0,0.0,0.0,3,1
2018-03-14,31.534783,1.0,1.0,1.0,0.0,0.0,3,2
2018-03-15,32.260000,0.0,1.0,0.0,0.0,0.0,3,3
2018-03-16,34.595833,1.0,1.0,0.0,0.0,0.0,3,4
2018-03-17,32.316667,1.0,1.0,1.0,0.0,0.0,3,5
2018-03-18,31.745833,0.0,1.0,1.0,0.0,0.0,3,6
2018-03-19,31.941667,0.0,1.0,1.0,0.0,0.0,3,0
2018-03-20,34.887500,0.0,0.0,0.0,0.0,0.0,3,1
2018-03-21,35.829167,1.0,1.0,0.0,0.0,0.0,3,2
2018-03-22,30.775000,1.0,1.0,1.0,1.0,0.0,3,3
2018-03-23,27.695833,1.0,1.0,0.0,0.0,0.0,3,4
2018-03-24,27.569565,1.0,1.0,1.0,0.0,0.0,3,5
2018-03-25,27.666667,1.0,1.0,1.0,0.0,0.0,3,6
2018-03-26,29.970833,1.0,1.0,1.0,1.0,0.0,3,0
2018-03-27,34.841667,1.0,1.0,0.0,1.0,0.0,3,1
2018-03-28,31.362500,1.0,1.0,1.0,1.0,0.0,3,2
2018-03-29,34.483333,1.0,1.0,1.0,1.0,0.0,3,3
2018-03-30,35.004167,1.0,1.0,1.0,1.0,0.0,3,4
2018-03-31,37.562500,0.0,1.0,1.0,0.0,0.0,3,5
2018-04-01,29.062500,1.0,1.0,1.0,1.0,1.0,4,6
2018-04-02,26.700000,1.0,1.0,0.0,1.0,1.0,4,0

In [43]:
X_train3, X_test3, y_train3, y_test3 = train_test_split(daily3_df.drop('pass_closed',axis=1), 
                                                    daily3_df['pass_closed'], test_size=0.30, 
                                                    random_state=101)

In [44]:
logmodel3 = LogisticRegression()

In [45]:
logmodel3.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [54]:
probs3 = logmodel3.predict_proba(X_test3)

In [55]:
probs3

array([[0.88772554, 0.11227446],
       [0.89081253, 0.10918747],
       [0.90832815, 0.09167185],
       [0.89416515, 0.10583485],
       [0.80433238, 0.19566762],
       [0.91039959, 0.08960041],
       [0.89102955, 0.10897045],
       [0.80741977, 0.19258023],
       [0.8984721 , 0.1015279 ],
       [0.83918538, 0.16081462],
       [0.94235257, 0.05764743],
       [0.82755367, 0.17244633],
       [0.90447664, 0.09552336],
       [0.86342592, 0.13657408],
       [0.90815396, 0.09184604],
       [0.87660233, 0.12339767],
       [0.82240355, 0.17759645],
       [0.84126209, 0.15873791],
       [0.89183903, 0.10816097],
       [0.80515765, 0.19484235],
       [0.749246  , 0.250754  ],
       [0.84241272, 0.15758728],
       [0.84304761, 0.15695239],
       [0.89040588, 0.10959412],
       [0.89668486, 0.10331514],
       [0.84973451, 0.15026549],
       [0.88065816, 0.11934184],
       [0.8445087 , 0.1554913 ],
       [0.85896194, 0.14103806],
       [0.89203981, 0.10796019],
       [0.83675225, 0.16324775],
       [0.83121634, 0.16878366],
       [0.93658887, 0.06341113],
       [0.8971557 , 0.1028443 ],
       [0.87792124, 0.12207876],
       [0.82665203, 0.17334797],
       [0.83415448, 0.16584552],
       [0.91246357, 0.08753643],
       [0.8798309 , 0.1201691 ],
       [0.92539114, 0.07460886],
       [0.96281388, 0.03718612],
       [0.92937066, 0.07062934],
       [0.90619905, 0.09380095],
       [0.85031965, 0.14968035],
       [0.85159256, 0.14840744],
       [0.75123874, 0.24876126],
       [0.80726762, 0.19273238],
       [0.76841108, 0.23158892],
       [0.86524358, 0.13475642],
       [0.87753205, 0.12246795],
       [0.88776669, 0.11223331],
       [0.86709799, 0.13290201],
       [0.88776026, 0.11223974],
       [0.87411325, 0.12588675],
       [0.90718746, 0.09281254],
       [0.88141945, 0.11858055],
       [0.89954001, 0.10045999],
       [0.90128128, 0.09871872],
       [0.90289428, 0.09710572],
       [0.91795658, 0.08204342],
       [0.89018977, 0.10981023],
       [0.80678287, 0.19321713],
       [0.88846716, 0.11153284],
       [0.90628366, 0.09371634],
       [0.8325176 , 0.1674824 ],
       [0.89289522, 0.10710478],
       [0.93024718, 0.06975282],
       [0.73457959, 0.26542041],
       [0.90727707, 0.09272293],
       [0.91149552, 0.08850448],
       [0.86214694, 0.13785306],
       [0.86342915, 0.13657085],
       [0.86465252, 0.13534748],
       [0.93864796, 0.06135204],
       [0.8445027 , 0.1554973 ],
       [0.79545567, 0.20454433],
       [0.89328054, 0.10671946],
       [0.83093081, 0.16906919],
       [0.88737052, 0.11262948],
       [0.92450848, 0.07549152],
       [0.91466923, 0.08533077],
       [0.86443168, 0.13556832],
       [0.86531335, 0.13468665],
       [0.89112446, 0.10887554],
       [0.8914118 , 0.1085882 ],
       [0.93333173, 0.06666827],
       [0.89004017, 0.10995983],
       [0.86574886, 0.13425114],
       [0.89252865, 0.10747135],
       [0.9237395 , 0.0762605 ],
       [0.89964757, 0.10035243],
       [0.80525374, 0.19474626],
       [0.90056395, 0.09943605],
       [0.89264379, 0.10735621],
       [0.86338035, 0.13661965],
       [0.86930433, 0.13069567],
       [0.75685475, 0.24314525],
       [0.94238078, 0.05761922],
       [0.89524135, 0.10475865],
       [0.91154915, 0.08845085],
       [0.91244591, 0.08755409],
       [0.88716563, 0.11283437],
       [0.8766341 , 0.1233659 ],
       [0.764508  , 0.235492  ],
       [0.90342975, 0.09657025],
       [0.91827446, 0.08172554],
       [0.80867029, 0.19132971],
       [0.92294505, 0.07705495],
       [0.89722345, 0.10277655],
       [0.82280855, 0.17719145],
       [0.79389388, 0.20610612],
       [0.85148178, 0.14851822],
       [0.88292523, 0.11707477],
       [0.82078974, 0.17921026],
       [0.87054737, 0.12945263],
       [0.92313828, 0.07686172],
       [0.86228949, 0.13771051],
       [0.92004427, 0.07995573],
       [0.92341521, 0.07658479],
       [0.91532824, 0.08467176],
       [0.88272458, 0.11727542],
       [0.91086647, 0.08913353],
       [0.86899556, 0.13100444],
       [0.83733006, 0.16266994],
       [0.84485944, 0.15514056],
       [0.86579937, 0.13420063],
       [0.91872193, 0.08127807],
       [0.78862493, 0.21137507],
       [0.85384459, 0.14615541],
       [0.86672338, 0.13327662],
       [0.88517663, 0.11482337],
       [0.91167688, 0.08832312],
       [0.863519  , 0.136481  ],
       [0.84990088, 0.15009912],
       [0.81847107, 0.18152893],
       [0.92743929, 0.07256071],
       [0.89925346, 0.10074654],
       [0.90061711, 0.09938289],
       [0.91287701, 0.08712299],
       [0.92985645, 0.07014355],
       [0.83155925, 0.16844075],
       [0.91772464, 0.08227536],
       [0.90254644, 0.09745356],
       [0.90255034, 0.09744966],
       [0.93097503, 0.06902497],
       [0.72496924, 0.27503076],
       [0.89212881, 0.10787119],
       [0.8629977 , 0.1370023 ],
       [0.88373196, 0.11626804],
       [0.89607249, 0.10392751],
       [0.85845094, 0.14154906],
       [0.94512589, 0.05487411],
       [0.90524712, 0.09475288],
       [0.90750825, 0.09249175],
       [0.84599602, 0.15400398],
       [0.89460573, 0.10539427],
       [0.88084893, 0.11915107],
       [0.83031494, 0.16968506],
       [0.88858042, 0.11141958],
       [0.86822701, 0.13177299],
       [0.87572102, 0.12427898],
       [0.86391138, 0.13608862],
       [0.91090187, 0.08909813],
       [0.87334198, 0.12665802],
       [0.8192426 , 0.1807574 ],
       [0.8548225 , 0.1451775 ],
       [0.90249821, 0.09750179],
       [0.89785901, 0.10214099],
       [0.83192304, 0.16807696],
       [0.90976527, 0.09023473],
       [0.8756332 , 0.1243668 ],
       [0.82213149, 0.17786851],
       [0.86288107, 0.13711893],
       [0.66656709, 0.33343291],
       [0.92211628, 0.07788372],
       [0.93062581, 0.06937419],
       [0.77539195, 0.22460805],
       [0.79197778, 0.20802222],
       [0.8250689 , 0.1749311 ],
       [0.83811563, 0.16188437],
       [0.93885582, 0.06114418],
       [0.8876007 , 0.1123993 ],
       [0.89954721, 0.10045279],
       [0.8926195 , 0.1073805 ],
       [0.90484451, 0.09515549],
       [0.87843574, 0.12156426],
       [0.87501982, 0.12498018],
       [0.89100093, 0.10899907],
       [0.88212369, 0.11787631],
       [0.90166618, 0.09833382],
       [0.91895322, 0.08104678],
       [0.94676346, 0.05323654],
       [0.88970459, 0.11029541],
       [0.90728553, 0.09271447],
       [0.86321565, 0.13678435],
       [0.91492245, 0.08507755],
       [0.92135974, 0.07864026],
       [0.90584315, 0.09415685],
       [0.86907675, 0.13092325],
       [0.88407654, 0.11592346],
       [0.93906557, 0.06093443],
       [0.77051872, 0.22948128],
       [0.91194515, 0.08805485],
       [0.85632323, 0.14367677],
       [0.79039096, 0.20960904],
       [0.9121443 , 0.0878557 ],
       [0.90069274, 0.09930726],
       [0.88800909, 0.11199091],
       [0.8855873 , 0.1144127 ],
       [0.91189689, 0.08810311],
       [0.79295601, 0.20704399],
       [0.91235294, 0.08764706],
       [0.88061025, 0.11938975],
       [0.86889619, 0.13110381],
       [0.92364596, 0.07635404],
       [0.87199497, 0.12800503],
       [0.8347712 , 0.1652288 ],
       [0.91019051, 0.08980949],
       [0.79440273, 0.20559727],
       [0.90753522, 0.09246478],
       [0.7974095 , 0.2025905 ],
       [0.89955619, 0.10044381],
       [0.8994701 , 0.1005299 ],
       [0.90008805, 0.09991195],
       [0.90426805, 0.09573195],
       [0.86090448, 0.13909552],
       [0.91848172, 0.08151828],
       [0.87726445, 0.12273555],
       [0.91365087, 0.08634913],
       [0.88609274, 0.11390726],
       [0.87612737, 0.12387263],
       [0.84999577, 0.15000423],
       [0.91691613, 0.08308387],
       [0.7996071 , 0.2003929 ],
       [0.87568098, 0.12431902],
       [0.82402868, 0.17597132],
       [0.92500394, 0.07499606],
       [0.86261128, 0.13738872],
       [0.90220369, 0.09779631],
       [0.80801616, 0.19198384],
       [0.88928572, 0.11071428],
       [0.88108965, 0.11891035],
       [0.83277042, 0.16722958],
       [0.91656568, 0.08343432],
       [0.85817144, 0.14182856],
       [0.84219006, 0.15780994],
       [0.78590382, 0.21409618],
       [0.84136789, 0.15863211],
       [0.78346631, 0.21653369],
       [0.90787414, 0.09212586],
       [0.89087133, 0.10912867],
       [0.84856783, 0.15143217],
       [0.95825459, 0.04174541],
       [0.90197065, 0.09802935],
       [0.88694407, 0.11305593],
       [0.71470132, 0.28529868],
       [0.87978153, 0.12021847],
       [0.90863441, 0.09136559],
       [0.90568946, 0.09431054],
       [0.91864677, 0.08135323],
       [0.87265724, 0.12734276],
       [0.91488239, 0.08511761],
       [0.87751913, 0.12248087],
       [0.93074451, 0.06925549],
       [0.85716093, 0.14283907],
       [0.86482253, 0.13517747],
       [0.89969555, 0.10030445],
       [0.83925875, 0.16074125],
       [0.85751972, 0.14248028],
       [0.91161249, 0.08838751],
       [0.8655062 , 0.1344938 ],
       [0.84660362, 0.15339638],
       [0.88363224, 0.11636776],
       [0.8665902 , 0.1334098 ],
       [0.90559074, 0.09440926],
       [0.86454764, 0.13545236],
       [0.87467673, 0.12532327],
       [0.95488684, 0.04511316],
       [0.90844684, 0.09155316],
       [0.85883333, 0.14116667],
       [0.8742384 , 0.1257616 ],
       [0.7832673 , 0.2167327 ],
       [0.92079415, 0.07920585],
       [0.77810409, 0.22189591],
       [0.83102962, 0.16897038],
       [0.85875412, 0.14124588],
       [0.91359051, 0.08640949],
       [0.91992121, 0.08007879],
       [0.88926491, 0.11073509],
       [0.89880116, 0.10119884],
       [0.9055202 , 0.0944798 ],
       [0.90775276, 0.09224724],
       [0.82041509, 0.17958491],
       [0.82732074, 0.17267926],
       [0.85093795, 0.14906205],
       [0.8791819 , 0.1208181 ],
       [0.91011886, 0.08988114],
       [0.7427193 , 0.2572807 ],
       [0.82287848, 0.17712152],
       [0.89341524, 0.10658476],
       [0.89209636, 0.10790364],
       [0.88187173, 0.11812827],
       [0.85655067, 0.14344933],
       [0.89441001, 0.10558999],
       [0.9042147 , 0.0957853 ],
       [0.87920767, 0.12079233],
       [0.86109999, 0.13890001],
       [0.89961739, 0.10038261],
       [0.88725675, 0.11274325],
       [0.81897919, 0.18102081],
       [0.91649716, 0.08350284],
       [0.83420923, 0.16579077],
       [0.88239694, 0.11760306],
       [0.88355681, 0.11644319],
       [0.89397012, 0.10602988],
       [0.8933461 , 0.1066539 ],
       [0.90986938, 0.09013062],
       [0.88191659, 0.11808341],
       [0.72135721, 0.27864279],
       [0.92039525, 0.07960475],
       [0.89358485, 0.10641515],
       [0.89220004, 0.10779996],
       [0.87845211, 0.12154789],
       [0.91196875, 0.08803125],
       [0.85551968, 0.14448032],
       [0.90387661, 0.09612339],
       [0.94191022, 0.05808978],
       [0.82422004, 0.17577996],
       [0.90008599, 0.09991401],
       [0.86574539, 0.13425461],
       [0.92579103, 0.07420897],
       [0.91955595, 0.08044405],
       [0.89224143, 0.10775857],
       [0.91347649, 0.08652351],
       [0.88959476, 0.11040524],
       [0.86699586, 0.13300414],
       [0.74527863, 0.25472137],
       [0.90560184, 0.09439816],
       [0.80523071, 0.19476929],
       [0.91808906, 0.08191094],
       [0.91909763, 0.08090237],
       [0.78582824, 0.21417176],
       [0.91871354, 0.08128646],
       [0.82621892, 0.17378108],
       [0.85961462, 0.14038538],
       [0.89928327, 0.10071673],
       [0.92414793, 0.07585207],
       [0.93264964, 0.06735036],
       [0.89670525, 0.10329475],
       [0.91734109, 0.08265891],
       [0.9148015 , 0.0851985 ],
       [0.88058657, 0.11941343],
       [0.86306207, 0.13693793],
       [0.93018652, 0.06981348],
       [0.80604669, 0.19395331],
       [0.87283001, 0.12716999],
       [0.91277774, 0.08722226],
       [0.90330103, 0.09669897],
       [0.8407673 , 0.1592327 ],
       [0.93778117, 0.06221883],
       [0.8903429 , 0.1096571 ],
       [0.86933954, 0.13066046],
       [0.86389447, 0.13610553],
       [0.79305293, 0.20694707],
       [0.89427658, 0.10572342],
       [0.86365914, 0.13634086],
       [0.89065731, 0.10934269],
       [0.8910519 , 0.1089481 ],
       [0.88478745, 0.11521255],
       [0.85680039, 0.14319961],
       [0.83469756, 0.16530244],
       [0.87625885, 0.12374115],
       [0.91059117, 0.08940883],
       [0.92600682, 0.07399318],
       [0.80916638, 0.19083362],
       [0.90527188, 0.09472812],
       [0.91423538, 0.08576462],
       [0.82483595, 0.17516405],
       [0.86057788, 0.13942212],
       [0.85225156, 0.14774844],
       [0.87902938, 0.12097062],
       [0.81211446, 0.18788554]])

In [56]:
probs3[:,1].max()

0.3334329148329053

In [57]:
probs3[:,1].min()

0.03718611548686593

In [58]:
probs3[:,1].mean()

0.12537773063696017

In [59]:
model3_log_loss = log_loss(y_test3, probs3)

In [60]:
model3_log_loss

0.4488394260594539