In [1]:
import pandas as pd

In [9]:
data = pd.read_excel('Cumulative_Snoqualmie_Pass_Delay_Closures_1992_2018.xlsx', header=[1])

In [10]:
data.head().T

,0,1,2,3,4
INCIDENT START TIMES FOR EACH DIRECTION,1992-11-21 12:25:00,1992-11-21 13:13:00,1992-11-21 14:30:00,1992-11-21 14:33:00,1992-11-30 18:28:00
SECONDARY INCIDENTS START TIMES,NaN,NaN,NaN,NaN,NaN
DIRECTION,WB,EB,EB,WB,EB
GEOGRAPHIC,NaN,NaN,NaN,NaN,NaN
MP,NaN,NaN,NaN,NaN,NaN
TYPE,NaN,NaN,NaN,NaN,NaN
REMARKS / DESCRIPTION,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,DELAYS DUE TO SPUNOUT TRUCKS TRAFFIC WORKING T...,LOG TRUCK ACCIDENT LOG BLOCKING LANE 3,EB 60 TANKER / CAR COLLISION PT. BLOCKING
INCIDENT END TIMES - DIRECTIONAL,1992-11-21 13:00:00,1992-11-21 14:05:00,1992-11-21 15:30:00,1992-11-21 15:30:00,1992-11-30 22:10:00
SECONDARY INCIDENTS END TIMES,NaN,NaN,NaN,NaN,NaN
Delay Time Total,00:35:00,00:52:00,01:00:00,00:57:00,03:42:00
WEATHER,NaN,NaN,NaN,NaN,NaN
Unnamed: 11,NaN,NaN,NaN,NaN,NaN
Unnamed: 12,NaN,NaN,NaN,NaN,NaN
Unnamed: 13,NaN,NaN,NaN,NaN,NaN
Unnamed: 14,NaN,NaN,NaN,NaN,NaN

In [11]:
data.drop(data.columns[[11,12,13,14]], axis=1, inplace=True)

In [12]:
data.head().T

,0,1,2,3,4
INCIDENT START TIMES FOR EACH DIRECTION,1992-11-21 12:25:00,1992-11-21 13:13:00,1992-11-21 14:30:00,1992-11-21 14:33:00,1992-11-30 18:28:00
SECONDARY INCIDENTS START TIMES,NaN,NaN,NaN,NaN,NaN
DIRECTION,WB,EB,EB,WB,EB
GEOGRAPHIC,NaN,NaN,NaN,NaN,NaN
MP,NaN,NaN,NaN,NaN,NaN
TYPE,NaN,NaN,NaN,NaN,NaN
REMARKS / DESCRIPTION,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,DELAYS DUE TO SPUNOUT TRUCKS TRAFFIC WORKING T...,LOG TRUCK ACCIDENT LOG BLOCKING LANE 3,EB 60 TANKER / CAR COLLISION PT. BLOCKING
INCIDENT END TIMES - DIRECTIONAL,1992-11-21 13:00:00,1992-11-21 14:05:00,1992-11-21 15:30:00,1992-11-21 15:30:00,1992-11-30 22:10:00
SECONDARY INCIDENTS END TIMES,NaN,NaN,NaN,NaN,NaN
Delay Time Total,00:35:00,00:52:00,01:00:00,00:57:00,03:42:00
WEATHER,NaN,NaN,NaN,NaN,NaN

In [13]:
data.drop(data.columns[[1,8]], axis=1, inplace=True)

In [14]:
data.head().T

,0,1,2,3,4
INCIDENT START TIMES FOR EACH DIRECTION,1992-11-21 12:25:00,1992-11-21 13:13:00,1992-11-21 14:30:00,1992-11-21 14:33:00,1992-11-30 18:28:00
DIRECTION,WB,EB,EB,WB,EB
GEOGRAPHIC,NaN,NaN,NaN,NaN,NaN
MP,NaN,NaN,NaN,NaN,NaN
TYPE,NaN,NaN,NaN,NaN,NaN
REMARKS / DESCRIPTION,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,DELAYS DUE TO SPUNOUT TRUCKS TRAFFIC WORKING T...,LOG TRUCK ACCIDENT LOG BLOCKING LANE 3,EB 60 TANKER / CAR COLLISION PT. BLOCKING
INCIDENT END TIMES - DIRECTIONAL,1992-11-21 13:00:00,1992-11-21 14:05:00,1992-11-21 15:30:00,1992-11-21 15:30:00,1992-11-30 22:10:00
Delay Time Total,00:35:00,00:52:00,01:00:00,00:57:00,03:42:00
WEATHER,NaN,NaN,NaN,NaN,NaN

In [15]:
data.rename(columns={'INCIDENT START TIMES FOR EACH DIRECTION':'start_time'}, inplace=True)

In [17]:
data.rename(columns={'INCIDENT END TIMES - DIRECTIONAL':'end_time'}, inplace=True)

In [18]:
data.head().T

,0,1,2,3,4
start_time,1992-11-21 12:25:00,1992-11-21 13:13:00,1992-11-21 14:30:00,1992-11-21 14:33:00,1992-11-30 18:28:00
DIRECTION,WB,EB,EB,WB,EB
GEOGRAPHIC,NaN,NaN,NaN,NaN,NaN
MP,NaN,NaN,NaN,NaN,NaN
TYPE,NaN,NaN,NaN,NaN,NaN
REMARKS / DESCRIPTION,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,MP 56 & 52 TEMP DELAY TO ENABLE SEARCH & RESCU...,DELAYS DUE TO SPUNOUT TRUCKS TRAFFIC WORKING T...,LOG TRUCK ACCIDENT LOG BLOCKING LANE 3,EB 60 TANKER / CAR COLLISION PT. BLOCKING
end_time,1992-11-21 13:00:00,1992-11-21 14:05:00,1992-11-21 15:30:00,1992-11-21 15:30:00,1992-11-30 22:10:00
Delay Time Total,00:35:00,00:52:00,01:00:00,00:57:00,03:42:00
WEATHER,NaN,NaN,NaN,NaN,NaN

In [20]:
df = data[(data['start_time'] > '2006-12-31')]

In [21]:
df.head().T

,830,831,832,833,834
start_time,2007-01-02 14:31:00,2007-01-02 15:00:00,2007-01-02 19:23:00,2007-01-03 11:28:00,2007-01-03 11:29:00
DIRECTION,EB,WB,WB,WB,EB
GEOGRAPHIC,Snow Shed,Snow Shed,Denny Mt.,Snow Shed,Snow Shed
MP,58,58,51,58,58
TYPE,NaN,NaN,NaN,NaN,NaN
REMARKS / DESCRIPTION,Avalanche Control ESS traffic stopped eb 56,Avalanche Control ESS traffic stopped wb 61,Avalanche Control MP 51 WB traffic stopped wb 52,Avalanche Control ESS traffic stopped wb 61,Avalanche Control ESS traffic stopped eb 56
end_time,2007-01-02 16:45:00,2007-01-02 15:44:00,2007-01-02 19:33:00,2007-01-03 11:40:00,2007-01-03 11:46:00
Delay Time Total,02:14:00,00:44:00,00:10:00,00:12:00,00:17:00
WEATHER,Raining,Raining,Raining,Mixed rain snow,Mixed rain snow

In [32]:
westbound = pd.Series([True if value == 'WB' else False for value in df.DIRECTION])

In [23]:
westbound

0      False
1       True
2       True
3       True
4      False
5      False
6       True
7      False
8       True
9      False
10      True
11     False
12      True
13     False
14     False
15      True
16     False
17      True
18     False
19      True
20     False
21      True
22     False
23      True
24     False
25     False
26      True
27     False
28      True
29      True
       ...
746     True
747     True
748    False
749     True
750    False
751    False
752    False
753    False
754    False
755    False
756    False
757     True
758    False
759    False
760    False
761     True
762    False
763    False
764     True
765    False
766     True
767     True
768    False
769    False
770     True
771    False
772    False
773     True
774     True
775    False
Length: 776, dtype: bool

In [24]:
df.rename(columns={'Delay Time Total':'delay'}, inplace=True)

/Users/leanne/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [25]:
df = df.dropna(subset=['delay'])

In [26]:
snow = df.WEATHER.str.contains('sn', case=False, na=False, regex=True)

In [27]:
snow

830     False
831     False
832     False
833      True
834      True
835      True
836      True
837      True
838      True
839      True
840      True
841      True
842      True
843      True
846      True
847      True
848      True
851      True
852     False
853      True
861      True
862      True
863      True
864      True
865     False
866     False
869     False
870     False
872     False
873     False
        ...
1602     True
1603     True
1604     True
1605     True
1606     True
1607     True
1608     True
1609     True
1610     True
1611     True
1612     True
1613     True
1614     True
1615    False
1616    False
1617    False
1618     True
1619     True
1620     True
1621     True
1622     True
1623     True
1624     True
1625     True
1626     True
1627     True
1628    False
1629    False
1630     True
1631     True
Name: WEATHER, Length: 775, dtype: bool

In [29]:
start_time = pd.to_datetime(df['start_time'])

In [30]:
end_time = pd.to_datetime(df['end_time'])

In [33]:
westbound.index = start_time.index

In [34]:
snow.index = start_time.index

In [35]:
end_time.index = start_time.index

In [36]:
cleaned_df = pd.concat([start_time, end_time, westbound, snow], axis=1)

In [37]:
cleaned_df

              start_time            end_time      0  WEATHER
830  2007-01-02 14:31:00 2007-01-02 16:45:00  False    False
831  2007-01-02 15:00:00 2007-01-02 15:44:00   True    False
832  2007-01-02 19:23:00 2007-01-02 19:33:00   True    False
833  2007-01-03 11:28:00 2007-01-03 11:40:00   True     True
834  2007-01-03 11:29:00 2007-01-03 11:46:00  False     True
835  2007-01-05 00:01:00 2007-01-05 00:16:00  False     True
836  2007-01-05 00:02:00 2007-01-05 00:11:00   True     True
837  2007-01-05 19:29:00 2007-01-05 19:51:00  False     True
838  2007-01-05 19:29:00 2007-01-05 19:44:00   True     True
839  2007-01-06 00:26:00 2007-01-06 00:46:00  False     True
840  2007-01-06 00:25:00 2007-01-06 00:41:00   True     True
841  2007-01-06 03:42:00 2007-01-06 04:55:00  False     True
842  2007-01-06 03:43:00 2007-01-06 04:21:00   True     True
843  2007-01-07 08:46:00 2007-01-07 10:46:00  False     True
846  2007-01-07 12:05:00 2007-01-07 14:17:00  False     True
847  2007-01-07 12:10:00 2007-01-07 14:17:00   True     True
848  2007-01-07 13:23:00 2007-01-07 14:17:00  False     True
851  2007-01-07 17:12:00 2007-01-07 17:38:00   True     True
852  2007-01-07 20:02:00 2007-01-07 22:17:00  False    False
853  2007-01-16 10:12:00 2007-01-16 13:41:00   True     True
861  2007-01-18 20:27:00 2007-01-18 20:43:00  False     True
862  2007-01-18 20:29:00 2007-01-18 21:04:00   True     True
863  2007-01-20 14:00:00 2007-01-20 14:18:00  False     True
864  2007-01-20 14:00:00 2007-01-20 14:18:00   True     True
865  2007-01-26 15:02:00 2007-01-26 15:19:00  False    False
866  2007-01-31 10:17:00 2007-01-31 15:34:00  False    False
869  2007-02-05 22:33:00 2007-02-05 22:46:00   True    False
870  2007-02-05 22:28:00 2007-02-05 22:53:00  False    False
872  2007-02-20 08:15:00 2007-02-20 08:53:00   True    False
873  2007-02-20 08:17:00 2007-02-20 08:59:00  False    False
...                  ...                 ...    ...      ...
1602 2017-11-03 17:23:00 2017-11-03 21:37:00   True     True
1603 2017-11-05 11:12:00 2017-11-05 14:45:00   True     True
1604 2017-11-05 11:29:00 2017-11-05 14:31:00  False     True
1605 2017-11-19 20:05:00 2017-11-19 22:32:00   True     True
1606 2017-12-19 07:56:00 2017-12-19 10:03:00  False     True
1607 2017-12-19 10:50:00 2017-12-19 12:25:00  False     True
1608 2018-01-11 06:58:00 2018-01-11 08:18:00  False     True
1609 2018-01-11 10:19:00 2018-01-11 11:39:00  False     True
1610 2018-01-11 12:44:00 2018-01-11 19:50:00  False     True
1611 2018-01-23 17:54:00 2018-01-23 20:02:00  False     True
1612 2018-01-26 10:33:00 2018-01-26 12:39:00  False     True
1613 2018-01-26 11:10:00 2018-01-26 12:50:00   True     True
1614 2018-01-27 04:30:00 2018-01-27 05:15:00  False     True
1615 2018-01-27 20:54:00 2018-01-27 21:45:00  False    False
1616 2018-02-02 02:00:00 2018-02-02 02:30:00  False    False
1617 2018-02-02 02:10:00 2018-02-02 02:34:00   True    False
1618 2018-02-16 06:28:00 2018-02-16 08:40:00  False     True
1619 2018-02-17 09:17:00 2018-02-17 09:55:00  False     True
1620 2018-02-17 12:03:00 2018-02-17 12:34:00   True     True
1621 2018-02-18 18:43:00 2018-02-18 20:13:00  False     True
1622 2018-03-04 11:27:00 2018-03-04 13:45:00   True     True
1623 2018-03-04 12:13:00 2018-03-04 13:45:00   True     True
1624 2018-03-04 11:36:00 2018-03-04 13:49:00  False     True
1625 2018-03-04 18:02:00 2018-03-05 00:00:00  False     True
1626 2018-03-04 18:21:00 2018-03-05 00:00:00   True     True
1627 2018-03-04 20:31:00 2018-03-05 00:00:00  False     True
1628 2018-03-29 09:02:00 2018-03-29 09:39:00  False    False
1629 2018-03-29 09:02:00 2018-03-29 09:42:00   True    False
1630 2018-04-01 22:29:00 2018-04-02 07:41:00   True     True
1631 2018-04-01 23:09:00 2018-04-02 07:58:00  False     True

[775 rows x 4 columns]

In [38]:
cleaned_df.rename(columns={0:'westbound', 'WEATHER':'snow'}, inplace=True)

In [39]:
cleaned_df

              start_time            end_time  westbound   snow
830  2007-01-02 14:31:00 2007-01-02 16:45:00      False  False
831  2007-01-02 15:00:00 2007-01-02 15:44:00       True  False
832  2007-01-02 19:23:00 2007-01-02 19:33:00       True  False
833  2007-01-03 11:28:00 2007-01-03 11:40:00       True   True
834  2007-01-03 11:29:00 2007-01-03 11:46:00      False   True
835  2007-01-05 00:01:00 2007-01-05 00:16:00      False   True
836  2007-01-05 00:02:00 2007-01-05 00:11:00       True   True
837  2007-01-05 19:29:00 2007-01-05 19:51:00      False   True
838  2007-01-05 19:29:00 2007-01-05 19:44:00       True   True
839  2007-01-06 00:26:00 2007-01-06 00:46:00      False   True
840  2007-01-06 00:25:00 2007-01-06 00:41:00       True   True
841  2007-01-06 03:42:00 2007-01-06 04:55:00      False   True
842  2007-01-06 03:43:00 2007-01-06 04:21:00       True   True
843  2007-01-07 08:46:00 2007-01-07 10:46:00      False   True
846  2007-01-07 12:05:00 2007-01-07 14:17:00      False   True
847  2007-01-07 12:10:00 2007-01-07 14:17:00       True   True
848  2007-01-07 13:23:00 2007-01-07 14:17:00      False   True
851  2007-01-07 17:12:00 2007-01-07 17:38:00       True   True
852  2007-01-07 20:02:00 2007-01-07 22:17:00      False  False
853  2007-01-16 10:12:00 2007-01-16 13:41:00       True   True
861  2007-01-18 20:27:00 2007-01-18 20:43:00      False   True
862  2007-01-18 20:29:00 2007-01-18 21:04:00       True   True
863  2007-01-20 14:00:00 2007-01-20 14:18:00      False   True
864  2007-01-20 14:00:00 2007-01-20 14:18:00       True   True
865  2007-01-26 15:02:00 2007-01-26 15:19:00      False  False
866  2007-01-31 10:17:00 2007-01-31 15:34:00      False  False
869  2007-02-05 22:33:00 2007-02-05 22:46:00       True  False
870  2007-02-05 22:28:00 2007-02-05 22:53:00      False  False
872  2007-02-20 08:15:00 2007-02-20 08:53:00       True  False
873  2007-02-20 08:17:00 2007-02-20 08:59:00      False  False
...                  ...                 ...        ...    ...
1602 2017-11-03 17:23:00 2017-11-03 21:37:00       True   True
1603 2017-11-05 11:12:00 2017-11-05 14:45:00       True   True
1604 2017-11-05 11:29:00 2017-11-05 14:31:00      False   True
1605 2017-11-19 20:05:00 2017-11-19 22:32:00       True   True
1606 2017-12-19 07:56:00 2017-12-19 10:03:00      False   True
1607 2017-12-19 10:50:00 2017-12-19 12:25:00      False   True
1608 2018-01-11 06:58:00 2018-01-11 08:18:00      False   True
1609 2018-01-11 10:19:00 2018-01-11 11:39:00      False   True
1610 2018-01-11 12:44:00 2018-01-11 19:50:00      False   True
1611 2018-01-23 17:54:00 2018-01-23 20:02:00      False   True
1612 2018-01-26 10:33:00 2018-01-26 12:39:00      False   True
1613 2018-01-26 11:10:00 2018-01-26 12:50:00       True   True
1614 2018-01-27 04:30:00 2018-01-27 05:15:00      False   True
1615 2018-01-27 20:54:00 2018-01-27 21:45:00      False  False
1616 2018-02-02 02:00:00 2018-02-02 02:30:00      False  False
1617 2018-02-02 02:10:00 2018-02-02 02:34:00       True  False
1618 2018-02-16 06:28:00 2018-02-16 08:40:00      False   True
1619 2018-02-17 09:17:00 2018-02-17 09:55:00      False   True
1620 2018-02-17 12:03:00 2018-02-17 12:34:00       True   True
1621 2018-02-18 18:43:00 2018-02-18 20:13:00      False   True
1622 2018-03-04 11:27:00 2018-03-04 13:45:00       True   True
1623 2018-03-04 12:13:00 2018-03-04 13:45:00       True   True
1624 2018-03-04 11:36:00 2018-03-04 13:49:00      False   True
1625 2018-03-04 18:02:00 2018-03-05 00:00:00      False   True
1626 2018-03-04 18:21:00 2018-03-05 00:00:00       True   True
1627 2018-03-04 20:31:00 2018-03-05 00:00:00      False   True
1628 2018-03-29 09:02:00 2018-03-29 09:39:00      False  False
1629 2018-03-29 09:02:00 2018-03-29 09:42:00       True  False
1630 2018-04-01 22:29:00 2018-04-02 07:41:00       True   True
1631 2018-04-01 23:09:00 2018-04-02 07:58:00      False   True

[775 rows x 4 columns]